[2017-08-29 20:28] arossert commented on #908
I haven't tested this scenario on ubuntu 16

[2017-08-31 04:31] ketank-new commented on #908
@arossert : would you like to give it a try then you can use the below recipe for the same.
https://github.com/linux-on-ibm-z/docs/wiki/Building-sysdig

The recipe is for s390x arch , but the same steps also work for a intel architecture

Let me know if it helps you or if you come across any issues while trying to build it

[2017-08-31 17:02] arossert commented on #908
I will try it on ubuntu 16 but I assume that the output will be correct (as on ubuntu 14).
I'm trying to understand why on RHEL5 there is duplicate clone events (on every clone)

[2017-09-01 14:21] q2dg opened #925 "[DOC] Chisels user guide doesn't contains links to "Writing a sysdig chisel, a tutorial" nor "sysdig chisel API reference manual""
Both are mentioned at the end of https://www.sysdig.org/wiki/chisels-user-guide/ but links aren't up

[2017-09-04 09:51] ketank-new commented on #908
@arossert : could you elaborate more on the issue faced by you
can you mention on which steps do you face duplication of cloning

[2017-09-05 12:36] arossert commented on #908
I have set up a RHEL5 machine and compile the sysdig source code (tested on 0.16.0 & 0.17.0).
after that just use this command

`sysdig evt.type=clone`
this is the output:
[code]
As you can see, there are 4 clone events for each process, 1 enter and 3 exits.
In the exits events, there are 2 events with `res=0` (return in the child process), these events look identical (with the same parameters).

[2017-09-06 16:00] arossert opened #927 "`mq_unlink` syscall reports as `ptrace`"
We have noticed that `mq_unlink` syscall is reported as `ptrace` syscall in sysdig:
We created this script:
[code]
And then executes sysdig, this is the output:
[code]
Strace output on the same script:
[code]

Tested on RHEL5 & Ubuntu 14.04 with latest sysdig 0.17.0 release

[2017-09-07 11:57] luca3m commented on #916
I don't think so, it's a kernel limitation: https://superuser.com/questions/567648/ps-comm-format-always-cuts-the-process-name

[2017-09-07 11:57] #916 closed

[2017-09-07 11:59] luca3m commented on #903
Makes sense, you are welcome to patch it and send a PR.

[2017-09-10 13:06] arossert commented on #908
I have tested it on Ubuntu 16.04.3 with the expected results (with sysdig 0.17.0)
[code]
Returns only once in the child process

[2017-09-10 13:09] arossert commented on #927
Tested on Ubuntu 16.04.3 sysdig 0.17.0 with the same results, `mq_unlink` reports as `ptrace`

[2017-09-11 05:24] arossert opened #929 "RAW sockets"
Is there a way to detect RAW socket with sysdig?
As far as I can see there is no special treatment for that at the moment.

I'm willing to work on a PR for that but need some advice on the correct way for doing so.

I have noticed that `SCAP_L4_RAW` is only used when parsing the sockets from `/proc` on startup but not in runtime.
From browsing through the code I believe that this is the function t

[2017-09-12 08:12] ketank-new commented on #908
RHEL5 is a old distro, may be sysdig should be used with the lastest distros that shoudl help.
@arossert : so was the  recipe helpful for you going ahead?

[2017-09-12 09:38] arossert commented on #908
We currently have some RHEL5 machine that can't be updated.
I have downloaded the source code and built it
[code]
Then loaded the module with `insmod`.
Everything is working but I can`t figure out why the `clone` events are duplicated.
Maybe you can point me out where to look in the code and I will try to patch this and submit a PR.

[2017-09-13 04:47] ketank-new commented on #908
@luca3m : any suggestions for @arossert query?

[2017-09-13 09:11] luca3m commented on #908
I'd start by putting some debug prints [here](https://github.com/draios/sysdig/blob/dev/driver/main.c#L1776) to track why these duplicates events happen

[2017-09-14 14:53] osallou opened #933 "evt.cpu=0 for evt.type=procinfo"
Hi,
while filtering for procinfo evt types, I am surprised to always see evt.cpu=0.
for other events, I can see different cpus, but not for this time.
cpu.threads, container.name etc... are fine.

I wonder if this is a bug, a procinfo "feature", or something I do not understand in how sysdig manage events.

[2017-09-14 14:54] osallou commented on #933
sysdig --version
sysdig version 0.16.0

[2017-09-14 15:06] ldegio commented on #933
This is a "feature", or better a consequence of what procinfo is. Instead of being actual kernel events, like system calls or context switches, procinfo events are generated by scanning the process table, so they don't belong to a specific processor.

Even if we wanted to add cpu information to those events, it wouldn't be accurate because it's common for a thread to be on multiple CPUs during the

[2017-09-14 15:06] #933 closed

[2017-09-15 09:01] arossert commented on #908
@luca3m, @ketank-new thanks for trying to help with this.

@luca3m I have put some debug prints in that function like you suggested and all that I can come up with is that the `syscall_exit_probe` is called 3 times on new process creation for `clone` events.
This is what I have added:
[code]
And I can see 3 prints when a new process is created.
Do you have any other idea how I can debug this?

[2017-09-18 11:41] JohannesTK commented on #916
Ack, thanks for the reply.

[2017-09-18 12:47] luca3m commented on #915
scap has a binary representation of events, you can change the output format anytime you want while reading with: `sysdig -r trace.scap -p "<yourformat>"

[2017-09-18 12:47] #915 closed

[2017-09-20 19:22] aldyleongarcia commented on #288
I solve:

sudo apt-get install linux-headers-generic

[2017-09-20 21:35] jonjensen opened #940 "spy_users chisel error: attempt to concatenate a nil value"
I got this error:

[code]

on this OS:

[code]

Using the sysdig-0.17.0-1.x86_64 RPM built by Sysdig Inc.

Running this command:

[code]

The last command shown was:

[code]

[2017-09-21 12:55] ketank-new commented on #436
@gianlucaborello : are you looking to build sysdig?

[2017-09-21 15:25] gianlucaborello commented on #436
@ketank-new what do you mean? The guy reported a kernel panic so I was trying to obtain more information in order to troubleshoot the issue.

[2017-09-21 19:02] hallyn opened #941 "cmake_minimum_required must be at top of file"
'cmake ..' fails for me (on centos 7) complaining about a missing cmake_minimum_required_version line.  Moving the existing line to the top of the file fixes it for me.

[2017-09-21 19:22] hallyn commented on #941
Never mind - I thought this brought me to the next error, but perhaps not.

[2017-09-21 19:22] #941 closed

[2017-09-22 04:26] ketank-new commented on #436
@gianlucaborello : I mean to ask you, whether you would be interested in getting a recipe which builds sysdig without any kernel panic
So i was just confirming whether you are facing a kernel-panic while building sysdig or while using sysdig binary

[2017-09-22 14:05] luca3m commented on #940
Can you share with us a capture that replicates the problem? You can create a capture with: `sysdig -w trace.scap`

[2017-09-22 14:09] luca3m commented on #917
You are not using the API correctly, you should use: `evt.field(event_arg_value_field_6)`, not passing a string.

To get all event args you can also you `evt.args` field

[2017-09-22 15:09] luca3m commented on #842
I guess we can close this

[2017-09-22 15:09] #842 closed

[2017-09-25 05:49] kadamvandita commented on #890
Hi,

Can you follow the steps from the recipe mentioned in the link for rhel7.
(https://github.com/linux-on-ibm-z/docs/wiki/Building-sysdig)

Check if the issue can be resolved using the steps mentioned.

[2017-09-25 07:49] luca3m commented on #927
fixed by @tjskrish

[2017-09-25 07:49] #927 closed

[2017-09-26 01:41] shevegen opened #944 "Automatic openssl download - please consider adding a cmake-switch for this behaviour"
Hello.

Sysdig currently seems to download openssl if it can not find a recent version or something.

    [ 1%] Creating directories for 'openssl'
    [ 1%] Performing download step (download, verify and extract) for 'openssl'
    -- Downloading...
       dst='/Depot/Temp/sysdig-0.18.0/BUILD/openssl-prefix/src/openssl-1.0.2j.tar.gz'
       timeout='none'
    -- Using src='http://download.draios.co

[2017-09-26 08:41] luca3m commented on #944
Yes there is: https://github.com/draios/sysdig/blob/dev/CMakeLists.txt#L98
Just use: `cmake -DUSE_BUNDLED_DEPS=OFF`

[2017-09-26 08:41] #944 closed

[2017-09-26 16:07] YouriT opened #945 "GKE trial"
I was curious about sysdig and decided to give it a try on GKE.
Unfortunately the DaemonSet keeps on crashing and therefore wont start.

Here is what I see in the logs:
[code]

I guess it's due to the usage of COS based nodes?
If that's the reason, any alternatives but installing ubuntu based images?

[2017-09-26 16:17] luca3m commented on #945
Yes, sysdig does not work on COS right now. Please use Ubuntu image. Also please contact support@sysdig.com for inquires about Sysdig Monitor. This repository is about sysdig opensource

[2017-09-26 16:17] #945 closed

[2017-10-03 02:38] arossert commented on #832
Can be closed since #934 was merged

[2017-10-03 02:38] #832 closed

[2017-10-03 04:01] arossert commented on #717
I believe that this cab be closed now since #934 was merged

[2017-10-03 07:51] #717 closed

[2017-10-04 08:34] kadamvandita commented on #890
Hi,

Could you please give some information on when this error occurs?

[2017-10-09 15:59] mstemm opened #954 "track user names from inside container, not host"
If you create a user inside a container, sysdig still uses the uids from the host in order to populate %user.name. A way to reproduce is:

[code]
While doing this and running sysdig with `sudo sysdig container.id!=host and evt.type=execve -p "*%evt.num %evt.outputtime %evt.cpu %proc.name (%thread.tid) %evt.dir %evt.type %evt.info user=%user.name uid=%user.uid"`, you end up with this output:

[code

[2017-10-20 00:30] tjskrish commented on #940
@jonjensen I tried to reproduce this issue on 7.4.1708 (Core) CentOS distro running on EC2 and was not getting the chisel error. Could you provide the exact steps to reproduce this bug?

[2017-10-26 09:06] arossert commented on #918
@gianlucaborello I have looked in the `struct tty_driver` but could not find anything (if you can find anything it will be nice to know).

So I have written a piece of code based on `dev_to_tty()` function:
[code]
I think that this is the only thing that we need to get the `TTY` device, what do you think?
Do you think that it should be implemented in the kernel module or only in the userspace?

[2017-11-02 18:10] jrmuizel opened #974 "sysdig just gives byte counts for calls to read()/write() instead of actual io"
For example, if you run `sysdig -c topfiles_bytes` while running the following program:
[code]
/tmp/out will be listed at the top. However iotop correctly shows that no actual disk io is happening. Because sysdig is ignoring the disk cache it can give a very inaccurate picture of the io that's actually happening.

[2017-11-06 08:47] arossert commented on #918
@gianlucaborello after more investigation I think that the `struct tty_driver` and `struct tty_struct` have enoght information so the `tty_nr_to_tty()` is not neccecery.

I have a couple of questions on how to implement this feature:
1. What information to extract:
    - Use `struct tty_struct` member `char name[64]` that will give the name in this format `pts12` that represents `/dev/pts/12`.

[2017-11-06 08:50] arossert commented on #908
@luca3m I have tried to debug this but without any success, do you have any idea where else can I look?
It looks like the `TRACEPOINT_PROBE(syscall_exit_probe, struct pt_regs *regs, long ret)` invokes 3 times on each `clone` operation (1 for the parent and 2 for the child)

[2017-11-06 14:23] jrmuizel commented on #974
Is it possible to add the ability show actual disk I/O?

[2017-11-06 15:29] ldegio commented on #974
this is not trivial because sysdig tends to see what the application sees, versus what the file system sees, in terms of I/O. Things could be improved by hooking into FS-specific tracepoints, but adding this capability would require a pretty substantial amount of work.

[2017-11-06 17:06] gianlucaborello commented on #918
Hi,

My non-educated check point list (because I haven't worked close enough to ttys) is:

- Prefer, if possible, a syntax consistent with `top`/`w`/`who`/...: that seems to be `pts/0`, `pts/1`, ...
- Make sure everything works fine inside containers too.
- Make sure you not only get tty information at runtime from struct tty_driver like you mention, but also from /proc at startup during the initi

[2017-11-06 17:38] arossert commented on #918
Hi,

Thanks for the input.

Regarding your comments:
- the syntax that usually is used is `/dev/pts/1`, I will do this using `snprintf` but not sure if this is the best way to construct a string in the kernel.
- I will test this with containers as well.
- I have extract the information from `/proc` using the `stdin` (/proc/<pid>/fd/0).
- The `SCAP_MAX_ENV_SIZE` was a mistake, it should be `SCAP_MA

[2017-11-07 15:57] arossert opened #977 "Dependencies versions"
I have noticed that the dependencies are not up to date with the latest version

Libarary | Current | Latest
---------| ------- | -------
LuaJIT | 2.0.3 | 2.0.5
zlib | 1.2.8 | 1.2.11
openssl | 1.0.2j | 1.0.2m (latest is 1.1.0g but might break things)
curl | 7.52.1 | 7.56.1

Is there a reason for that?

[2017-11-08 12:59] arossert opened #978 "sinsp_decoder_syslog segmentation fault"
Hi,
I noticed that in some rare cases there is segmentation fault in this functionn`sinsp_decoder_syslog::decode_message()`.
This is the stack:
[code]
Can you tell why `decode_message()` can fail?

In other note, what is the purpose of this decoder?
Is it possible to disable it to improve performance?

[2017-11-08 18:06] luca3m opened #979 "openat event sometimes is dropped"
openat() currently has parsing of `name` field on the enter side, since copying user memory in an atomic context can't be always guaranteed to work it leads to dropped events.

I found it casually while I was playing with `docker service scale`, scaling up and down a service (so creating/destroying containers).

debug prints:
[code]

solution:

we should move `name` parameter from enter to exit ev

[2017-11-21 15:55] SteveHallNNT opened #986 "chmod / chown tracing"
Hi all,

I’m trying to track when someone changes the file mode or owner of a file on Linux.   As a simple test I have tried :

`# sysdig "evt.type in (fchmodat,fchownat)" `

But when I use chown / chmod on a file all I get from sysdig is :

[code]

With no information on the file being changed or the user making the change.  Trying %evt.args or %evt.info yields nothing either.

Is there any way I

[2017-11-21 15:57] luca3m commented on #986
sysdig currently does not support it. You can add them using this commit as an example: https://github.com/draios/sysdig/commit/a353da7dfac9a2862b52008ef7b0f2a23bae339b

more info: https://github.com/draios/sysdig/wiki/Adding-an-event-to-sysdig

[2017-11-22 10:51] SteveHallNNT commented on #986
Thanks Luca.  I'll take a look at these links.  Much appreciated.

[2017-11-23 19:58] gildean commented on #639
The correct option is not VT100+ but Xterm R6. [See related bug](https://bugs.launchpad.net/ubuntu/+source/screen-profiles/+bug/317550)

[2017-11-27 23:54] bertocci opened #988 "Kubernetes authentication broken"
The -K option for passing in the k8s certificate/key info is broken. We use the credentials for the initial connection to the API server, but due to a bug we clear them after that initial connection. Subsequent connections to collect the various k8s components will all fail.

If you run sysdig with the `--debug` option, you can see the first connection using creds and succeeding, but the followup

[2017-11-28 06:40] davidreuss commented on #988
Thanks for following up on this 👍

[2017-11-30 14:15] bsphere commented on #802
Did you solve it?

[2017-11-30 14:22] ColinIanKing commented on #802
Not yet, it fall off my radar.

[2017-12-01 14:49] arossert opened #992 "init_module reports as "<unknown>" on Ubuntu"
I have tried to filter `init_module` syscall but nothing has shown when I used this:
[code]
After debugging I have used this filter to try to see why:
[code]
And this is the output:
[code]
It look like it cannot recognise the `init_module` syscall, I have tested it with `delete_module` and it worked fine.
[code]

Strace output:
[code]

After debugging this I can see that in `main.c` `TRACEPOINT_PR

[2017-12-01 16:16] arossert commented on #992
I have checked the output of strace in RHEL5:
[code]
Here the syscall is `init_module` and on Ubuntu it is `finit_module` can this be the reason?

[2017-12-01 16:18] luca3m commented on #992
I believe so, we need to add `finit_module` to [syscall_table](https://github.com/draios/sysdig/blob/dev/driver/syscall_table.c)

[2017-12-01 17:56] #988 closed

[2017-12-01 19:28] arossert commented on #992
@luca3m I will work on that and submit a PR, thanks.

[2017-12-05 19:26] gnosek commented on #900
As far as I could find, the docker client always uses an explicit version number ("v1.18" and "v1.24"). Going back through the code, it seems like it has always been the case.

[2017-12-05 23:04] arossert commented on #992
Fixed by #996

[2017-12-05 23:04] #992 closed

[2017-12-06 08:41] arossert commented on #986
I wanted to do this before but didn't have the time.
I can take a look to see if I can submit a PR for that.

[2017-12-06 09:16] SteveHallNNT commented on #986
I've managed to get this working on my setup here for chmod but need to extend it to support chmod as well.  I've never done a git "merge" before so may need a hand with that.  Or if there's another way to get support for chown / chmod I'm all ears!

[2017-12-06 09:40] arossert commented on #986
@SteveHallNNT You need to create a branch with your changes and submit a pull request for the maintainers to do a review and merge.
Just remember to follow the ["Rules"](https://github.com/draios/sysdig#what-do-i-need-to-do-in-order-to-contribute-code).

If you willing to wait I can do this and submit a pull request for this changes.
By looking at the man pages ([chown](http://man7.org/linux/man-p

[2017-12-06 14:30] SteveHallNNT commented on #986
Hi Amir,
Thanks so much - if you're happy to do the work then that would be great.  Let me know if you change you mind or won't have the time, I'm sure I can get there in the end but it sounds faster if you're OK doing it.  Let me know if you have anything you'd like me to test?
Thanks again
Steve H

[2017-12-06 15:39] arossert commented on #986
Sure, I will work on it and submit the PR for that.

@luca3m can we keep it simple and put all the arguments/return value in the exit events?

[2017-12-07 09:28] arossert commented on #986
@SteveHallNNT I have created PR #1003 to support all variations of `chmod`/`chown` syscalls.
You can take this and do some tests, let me know if fixes are needed.

[2017-12-07 12:17] SteveHallNNT commented on #986
Thanks Amir, that's great work.  I've tested it on RHEL 7.2 and Ubuntu 14 and it looks good :

[code]

Thanks again!
Steve H

[2017-12-08 11:26] bogdanr commented on #843
I also have this issue.

[2017-12-08 17:39] simos opened #1005 "sysdig_probe: Unknown symbol tracepoint_probe_unregister (err 0)"
I am trying to install sysdig on a VPS that has a custom kernel.

The VPS [edit: does not fulfill] the requirements per https://www.sysdig.org/wiki/how-to-install-sysdig-from-the-source-code/

This kernel has, instead:

When running sysdig, I get

[code]

and dmesg says

[code]

Also,
[code]
So, no CONFIG_TRACEPOINTS means no sysdig?

[2017-12-08 20:27] Mansuro commented on #1005
The way sysdig works is by attaching probes/handlers to tracepoints, providing a hook to call those handlers from the kernel when specific events are captured.
So basically without tracepoints, sysdig-probe can not register the needed handlers, and as a result, it's not possible for sysdig to work.

[2017-12-08 20:40] simos commented on #1005
Thanks for the response.

It's a Linux kernel thing that CONFIG_HAVE_SYSCALL_TRACEPOINTS does not imply CONFIG_TRACEPOINTS as well.
I am closing this report.

[2017-12-08 20:40] #1005 closed

[2017-12-08 20:56] blindphaze commented on #865
This would be extremely helpful to have so that we can easily see the user instead of "root".

[2017-12-08 21:13] nh2 opened #1006 "Segementation fault on NixOS"
I'm trying to run sysdig on NixOS, but am getting a crash:

[code]

Any idea what could be wrong or how I could get more info?

You can see the flags with which sysdig is compiled on NixOS [here](https://github.com/NixOS/nixpkgs/blob/d2dff8d0bea7071f81c59d70db33fdeb47f8199a/pkgs/os-specific/linux/sysdig/default.nix), in case that helps.

[2017-12-10 12:18] arossert commented on #865
@jayaddison I have submitted a PR to add this value to sysdig, can you test it and let me know if this is what you are looking for?

[2017-12-12 01:31] jayaddison commented on #865
@arossert absolutely, I should be able to give this a try soon.  I'll let you know how it goes!

[2017-12-12 11:30] Brandonage opened #1010 "[Sysdig OpenSource] Inconsistent behaviour when capturing container events"
I think there is an issue when writing events to a file for a container that has been launched after sysdig started the dumping process. I'll try to explain the process I'm following step by step:

1. I launch a set of containers. For this example lets imagine I launch a bunch of wordpress docker instances.

2. I start sysdig through a Docker container. The objective is to capture all the ipv4 and

[2017-12-12 12:32] SteveHallNNT commented on #986
Hi Amir
I'm trying to setup a chisel to use these new events and am having some trouble working with the FD used by these sys calls.  Is it because they're only being captured on the function exit?  I'm trying to get the fd.type and fd.name and they're always returning nil.
Thanks
Steve

[2017-12-13 13:53] arossert commented on #986
@SteveHallNNT currently this only parse and show the arguments of the syscalls and you might do simple filtering on the arguments.
What kind of filter are you trying to do?
I will take a look to see if I can add the fd information on the syscalls (probably will have to capture the arguments in the enter event)

[2017-12-13 14:17] SteveHallNNT commented on #986
Thanks.  Just running sysdig as above is working fine.  When I use in a chisel though I'm struggling to get the fd.type and fd.name.  My code looks a little like this :

[code]

Always shows nil / nil?  I can provide a more concrete example if you'd like it.
Thanks
Steve

[2017-12-13 15:45] arossert commented on #986
I have moved the parameters to the enter event and tested this with sysdig like this:
[code]
And then run a c program that calls all the different variations (`chown`, `lchown`, `fchown`, `fchownat`) and this is the output:
[code]
So only the `fchown` & `fchownat` working with fd and have this information, the others are working with file names.

Do you want me to push this changes so you can test

[2017-12-13 15:50] SteveHallNNT commented on #986
That would be great, thanks.

[2017-12-13 16:04] arossert commented on #986
@SteveHallNNT done, let me know if this is working for you

[2017-12-14 22:11] jayaddison commented on #865
@arossert I built this from scratch on a host running fedora-26 with kernel `uname -r` of `4.14.4-200.fc26.x86_64` - unfortunately I seem to get some kind of buffer garbage when tracing the new field:

[code]

I noticed there are some `exepath` related-changes in the diff here - any chance those could be accidental/unrelated changes pulled in?

Glad to co-ordinate further off-PR in terms of debugg

[2017-12-15 12:28] SteveHallNNT commented on #986
Looks good @arossert, thanks

[2017-12-15 12:38] arossert commented on #986
Great, no we just need to wait for a merge.

[2017-12-16 14:19] arossert commented on #865
@jayaddison the `exepath` changes are just indentation fixes that I inserted by mistake to this PR, this should not be related to what you see.
Can you run sysdig as:
[code]
To see what is the value you have in the syscall?

[2017-12-20 14:32] #900 closed

[2017-12-22 13:36] arossert commented on #15
This will be very nice to have, is someone working on it?
I can take a shot and submit a PR.

[2017-12-23 14:21] con-f-use opened #1023 "Sysdig generic (statically linked) binary for older kernel?"
This is not an issue rather than a (quiet specific) question.

Is there a binary package of sysdig available that is statically linked and works on version 2.6.38 (64Bit) of the Linux kernel? If not how would I go about building it from source?

sysdig is pretty much the only tool available that solves a specific problem of mine. But I need to run it on fairly old appliances with said kernel, and

[2017-12-23 21:42] ldegio commented on #1023
the sysdig userland components are already statically linked, so there shouln't be problems running them anywhere.

The kernel module will have to be built for kernel 2.6.38. This is no problem (sysdig's module works seamlessly on kernels stating at 2.6.32, and on older kernels with some work), but by default the module is compiled from sources by DKMS when you install the sysdig package on your d

[2017-12-23 21:42] #1023 closed

[2017-12-24 08:42] con-f-use commented on #1023
Thank you. And sorry for the non-issue spamming here. I didn't see another option. Will consult the mailing list for further inquires, but it seems promising.

[2017-12-28 08:57] yujinqiu commented on #526
@ldegio   "  change the spectrogram code to be based on two separate mouse clicks instead of having to drag the mouse.  "  Do you mean click in two different point to select ?  I try many ways but all failed.   sysdig version 0.19.1  Iterm2 Build 3.1.5.

[code]

[2017-12-29 10:45] arossert opened #1026 "Incorrect exit status in `procexit` on RHEL5"
I have noticed that the `status` in `procexit` is always 0 on RHEL5, even when the process returns a non-zero value.

I can see that this value is taken from `args->sched_prev->exit_code` but for some reason, this value is always 0 in RHEL5 (kernel 2.6.18-419).
I have tried to look for some clues in the kernel code but can't find anything, any idea how this can be fixed?

[2018-01-04 09:35] saaj opened #1028 "Enhancement: Allow filtering of procinfo events"
Currently (sysdig 0.19.1), it's only possible to display "procinfo" events in debug mode, `-D` switch. But it's not possible to filter them by process name (or any other way I suppose), e.g. `sysdig -D -r dump.scap --filter-proclist evt.type=procinfo and proc.name=uwsgi` outputs data for each process recorded. It is quite handy to be able to extract  process info, like CPU utilisation or RSS, to b

[2018-01-09 15:25] #977 closed

[2018-01-11 17:15] urihershgc commented on #621
hey @kadamvandita
it happens whenever you compile sysdig using the make file if the folder you're compiling from has spaces.
you can reproduce it by compiling from a folder you named with a space.
for example - "folder name"
you can do it with the command `mkdir "folder name"` and then run the `make`.

[2018-01-14 16:02] #506 closed

[2018-01-17 15:11] arossert commented on #929
Added this feature on #991

[2018-01-17 15:11] #929 closed

[2018-01-17 16:36] arossert commented on #865
@jayaddison do you still have this issue?
If so, can you share the output of:
[code]

[2018-01-19 00:18] ejholmes opened #1046 "Filter on docker labels?"
At the moment `sysdig -l` shows a couple filters that can be used to filter on labels from kubernetes, mesos and marathon:

[code]

I was somewhat surprised to find that there isn't a `container.labels` or `docker.labels` filter for any docker labels on the container. We're heavy users of ECS, so having the ability to filter on plain docker labels would be helpful.

[2018-01-19 16:35] luca3m commented on #1046
It's not yet implemented but it can be done easily, check this file: https://github.com/draios/sysdig/blob/dev/userspace/libsinsp/filterchecks.cpp#L5463

[2018-01-19 17:24] SteveHallNNT commented on #865
Hi Amir
Do you know if this "loginuid" is or will be available for all events?  i.e the fchmod / fchown you added recently and existing syscalls?
Thanks - this could be a life-saver for me if it is!
Steve

[2018-01-20 13:10] arossert commented on #865
@SteveHallNNT the `loginuid` will be added to the thread state on `execve` syscall and should be available on all syscalls.

[2018-01-21 16:07] SteveHallNNT commented on #865
Thanks Amir, is there a PR I can test this with or would it have been included in the one you did for chown / chmod a few weeks ago?
Steve

[2018-01-21 17:07] arossert commented on #865
@SteveHallNNT there is no PR that contains both of this feature.
There are some changes lately (code revert) that will probably cause conflicts with this 2 branches and the DEV branch.
Let me work on a branch that will combine both and I will share it with you (I will not submit a PR for that so we will have to wait for both of them to be merge by the sysdig team).

[2018-01-21 17:29] SteveHallNNT commented on #865
Thanks Amir, that sounds good - I'm happy to test both aspects together and let you know how I get on.

Steve

[2018-01-21 18:22] arossert commented on #865
Hi Steve, I have created a branch that combines the `loginuid` and `chmod\chown` features on my sysdig fork here:
https://github.com/arossert/sysdig/tree/lodinuid_chmod

As working on this I have noticed a bug that @jayaddison has reported and fixed it on this branch (will add this later to the PR as well).

I have one dilemma, from what I know when the `auid` is not set its value is `-1`, current

[2018-01-21 20:33] SteveHallNNT commented on #865
Thanks Amir.  That's a tricky one re: the auid.  I suspect int would be OK as the upper limit for the int is unlikely to be any kind of user id value and the benefit if being able to check for -1 as opposed to the unsigned value is probably worth it.

[2018-01-22 07:32] arossert commented on #865
Steve, I have changed the `loginuid` type to `int`.
Please notice that this is not been tested so **use it at your own risk**.

[2018-01-22 12:07] SteveHallNNT commented on #865
Hi Amir.  This is looking good.  Using your "lodinuid_chmod" branch I get :

[code]

So the original UID (1000) is successfully being retrieved - thanks!  Sessions without a loginuid display -1 as discussed :

[code]

My only question is would it be possible to get "loginname" as well as "loginuid" (as per user.uid and user.name in the current model)?

Not essential though but may be worth adding

[2018-01-22 12:31] arossert commented on #865
Hi Steve, thanks for checking this out, glad to see that it is useful.
I will see if I can add the `loginname` as requested and if so will put it in `lodinuid_chmod`, if it will work as expected I will push it to the original branch.

[2018-01-22 14:10] arossert commented on #865
Hi Steve, I have added the ability to filter/format using `user.loginname`.
You can try it on the same branch.
Let me know if you have any issues.

[2018-01-23 09:36] SteveHallNNT commented on #865
Looks good :

[code]

Great work - thanks for this Amir, it's much appreciated here.

Steve

[2018-01-23 15:07] arossert commented on #865
Thanks for testing this out, I will add the recent changes to the PR and we will wait for the sysdig team to review and merge.

[2018-01-26 09:50] klemens-u opened #1050 "Filtering by IP address removes all non-network events from capture"
For example
`sysdig fd.ip!=111.222.333.444`
removes all capture data except for networking events.

Is this a bug?
Maybe not, but is there a workaround?
Usecase: For continuous capturing, I'd like to filter out network events for some IPs, but still capture all other events.

Thanks!

[2018-01-27 09:03] arossert commented on #728
Static linking has solved this issue.

[2018-01-27 09:03] #728 closed

[2018-02-04 02:05] bdimych opened #1055 "FR: make logs rotation continue from the last modified file"
if I use -C and -W switches then sysdig always starts from dump.scap00,
I think it would be more correct to continue from the last modified file

[2018-02-07 06:49] yujinqiu opened #1059 "feature request for Redis and Mysql chisels"
We have cool memcachelog chisel,  is there any plan to support  Redis and MySQL chisel  ?

[2018-02-08 18:47] jayaddison commented on #865
@arossert I'm going to take another look at testing the PR now, thanks again for this!

[2018-02-08 19:54] jayaddison commented on #865
@arossert this is brilliant stuff - everything compiled and loaded correctly, and I was able to test this  out using the filter below to trace actions by a dummy user following privilege escalation:

[code]

[2018-02-08 20:45] arossert commented on #865
@jayaddison thanks for testing this.
This was now tested by 2 different users (thanks @SteveHallNNT) so I believe that this is a needed feature.

Hope that it will be merged soon by sysdig team.
(If there are any changes needed I’m willing to take the time and fix them)

[2018-02-08 21:20] SteveHallNNT commented on #865
I second that @arossert - this is a great feature and am greatly looking forward to it being part of sysdig.  Thanks again for your work on this.

[2018-02-09 20:28] guyharris opened #1060 "Please document the pcapng blocks you've added"
I've listed the block numbers from the current source code in the current version of [the pcapng spec](https://github.com/pcapng/pcapng); please document the formats of those blocks so that 1) the spec can point to the documentation and 2) people who want to write code to process those blocks can do so.

BTW, the event block has a length field in it; is the intent that events can be cut off by a s

[2018-02-11 04:58] tydavis opened #1061 "Build Google(GKE) ContainerOS compatible module"
Currently, Sysdig [is not supported on GKE using ContainerOS (COS)][1], and
has been rejected in [an earlier issue][2]. The recommended alternative
requires foregoing the automatic COS upgrade path and using Ubuntu as the base
image.  This is not feasible for many customers who use GKE for its fully-
managed design, but also need sysdig's inspection capabilities.

Since the COS kernel is built aro

[2018-02-14 02:39] Sydius opened #1062 "Provide access to syscall number"
I'm getting a lot of <unknown> for a process and I'd love to be able to research which syscalls these are, but can't find a way to get any information about them. It would be nice if there were an syscall.number or equivalent so that I can at least look that up.

[2018-02-20 19:34] immesys opened #1064 "Trouble with tracers"
I am struggling to get tracers to work (be recognized by sysdig as a tracer).

If I run `sudo sysdig proc.name=btrdbd and fd.name=/dev/null` I get pages of what looks like correct tracer output to me:
[code]

But If I run `sudo sysdig proc.name=btrdbd and evt.type=tracer` then I get nothing.

Also if I run csysdig and look at the Traces List, I also get nothing.

The `.` at the end of the data is

[2018-02-20 20:19] immesys commented on #1064
I think I may have worked out what the problem could be. Is it true that sysdig only recognizes the tracers if it sees the open syscall on /dev/null? So if sysdig was started after the program already opened the file descriptor, then it will not recognize any spans?

[2018-02-20 23:58] ldegio commented on #1064
You are right.

Either make sure that sysdig starts before the traced program, or add the -T command line argument to sysdig to force tracers capture.

This is done for performance reasons, to make sure that the tracers logic is enabled only when it's actually needed.

[2018-03-01 07:49] vedranf opened #1068 "Sysdig and high CPU usage"
Hello,

I'm testing latest sysdig on a production server (56 CPU cores, 128 GB of memory) with 4.9 kernel to monitor a directory tree with lots of i/o and the problem I'm encountering is that it uses 100% CPU (%us of a single dedicated CPU core) while running. This happens regardless of the filter I use (filter I use monitors a directory tree with a *lots* of reads and writes) and regardless of th

[2018-03-06 16:51] ldegio commented on #1068
The sysdig capture stack is already very optimized, so most of the further optimizations are not trivial and will require, at a minimum, to play with the souces and recompile sysdig.

That said, there are a couple of things you could try:
- If the capture you need to perform is limited in time, you can try to increase the size of the capture buffers by modifying RING_BUF_SIZE in https://github.com

[2018-03-06 16:51] #1068 closed

[2018-03-08 23:45] mstemm opened #1072 "in (a, b, c, d) operator doesn't work on all 4 digit ports"
For expressions using `in (a, b, c, d)`, matching is done using a set membership test instead of a sequence of single comparisons. As an initial quick comparison, when building the set it keeps track of the shortest and longest member of the set. When matching, if a subject value is not within those lengths, the set membership test is skipped.

https://github.com/draios/sysdig/pull/1049 got this w

[2018-03-12 16:59] #1072 closed

[2018-03-14 07:30] SteveHallNNT commented on #865
Hi,
Is there any update on this (excellent) enhancement being included in sysdig yet?
Thanks
Steve H

[2018-03-14 15:26] arossert commented on #865
@SteveHallNNT I will fix the conflicts on #1008 so it will be ready for merge.

[2018-03-14 15:28] SteveHallNNT commented on #865
Thanks @arossert

[2018-03-15 04:09] jayaddison commented on #865
Looking forward to this too, thanks again @arossert

[2018-03-15 09:06] axiaoxin commented on #763
On my CentOS 7, the problem is simular

[code]

[code]

[code]

[code]

[code]

[2018-03-16 09:36] likunyan commented on #763
@axiaoxin use `sudo sysdig -c topprocs_net`. it's ok! so, you must add `sudo`.

[2018-03-16 09:47] axiaoxin commented on #763
@likunyan I logged in as root. It's not working. I think the reason is sysdig can't distinguish the name of `tlinux2`?

[code]

[2018-03-16 14:59] likunyan commented on #763
@axiaoxin 天呐，不懂啊。换 Ubuntu 不，我和 wiki 一样换 Ubuntu 了。

[2018-03-16 15:00] likunyan commented on #763
@ketank-new

Sorry, I forgot to reply. What you say is difficult for me. Fortunately, it is normal on Ubuntu 16.04 LTS.Thank you.

[2018-03-18 16:43] csilvers opened #1078 "Cannot install sysdig module on kernel with retpoline"
I am running a new Ubuntu trusty kernel:
[code]

When I run `sudo sysdig-probe-loader` it says:
[code]

The problem is this:
[code]

If I am reading this right, I am downloading a version of the module from s3 that was not built with a retpoline-aware gcc (I guess?), but I need that.

Any pointers on how to build this kernel module to get something that will work with my kernel?

[2018-03-19 15:07] sulemank85 opened #1079 "r"

[2018-03-19 15:45] #1079 closed

[2018-03-19 15:46] luca3m commented on #1078
Can you please use `sysdig/sysdig:dev`? It has the fixes you need for retpoline

[2018-03-19 15:46] #1078 closed

[2018-03-19 19:53] csilvers commented on #1078
I did this and didn't see the fix:
[code]
and it said:
[code]
so I'm still not seeing `retpoline`.  Can you confirm that I should have seen it?  What does it mean that I don't? -- am I not using a retpoline-aware gcc or something?

[2018-03-19 19:57] luca3m commented on #1078
I meant to run sysdig in docker using the standard cmdline you already used by pointing it to `sysdig/sysdig:dev` rather than `sysdig/sysdig`. The former ships with a gcc 5 version that has retpoline support.

To make it work locally as you did I think you need to upgrade gcc as you said. Latest ubuntu version should have retpoline patches

[2018-03-19 20:05] csilvers commented on #1078
Thanks!

Is there any chance that https://s3.amazonaws.com/download.draios.com/stable/sysdig-probe-binaries will be uploaded with repoline-aware modules?  In theory my local gcc has retpoline support but it seems to not be working in practice, so it would be awesome if I could rely on `sysdig-probe-loader` (which downloads the module from s3) instead.  I understand if that's not practical though.

[2018-03-19 20:09] luca3m commented on #1078
Yes, it will be done for the next sysdig release

[2018-03-20 12:35] SteveHallNNT commented on #865
Hi @arossert - it looks like the checks have passed so thanks for sorting out the conflicts.  Do you know what happens next?  i.e when it will get merged?
Thanks
Steve

[2018-03-20 12:48] arossert commented on #865
Hi Steve, this is now in the hands of the Sysdig team members, they need to review this (and probably test) and merge.
Regarding when will it be I cannot tell you that but I can tell you that they are very responsive to the community so if this a highly requested feature they will work fast to merge it.
(You can try to ask for this on the Sysdig open source Slack channel).

[2018-03-20 17:24] bdimych opened #1082 "Filter "fd.name=" fails on unix socket"
@/tmp/.X11-unix/X0 is a standard Xorg socket

sudo /usr/local/bin/sysdig -p '%proc.exe %evt.type %fd.name' 'fd.name=@/tmp/.X11-unix/X0'
no output

sudo /usr/local/bin/sysdig -p '%proc.exe %evt.type %fd.name' 'fd.name contains @/tmp/.X11-unix/X0'
a lot of output

I'm not sure this is a bug of sysdig, I just report,

---
"sysdig --version" gives "sysdig version 0.1.1dev" but actually it is 0.20.0.ta

[2018-03-27 11:47] ajohnstone commented on #805
Any update on this ticket?

[2018-03-27 15:41] mattpag commented on #803
Resolved with https://github.com/draios/sysdig/pull/1076

[2018-03-27 15:41] #803 closed

[2018-03-30 21:52] bdimych opened #1088 "strange behaviour of complex filter"
I'm trying to make permissive filter i.e. capture everything except of specified exclusions,
test script:
[code]

expected result is empty output because pipe events should be filtered out, but they pass through the filter:
[code]

(Mageia 5 KDE, sysdig-0.21.0 built from source)

[2018-03-30 21:57] bdimych opened #1089 "feature request: save filter in file"
If filter expression is long then it's more suitable to save it in file and use file name in command line

[2018-03-30 21:59] bdimych opened #1090 "%fd.name doesn't print non-latin characters"
sysdig-0.21.0
prints dots instead of unicode characters

[2018-04-02 23:30] abucodonosor opened #1092 "crash and full system freeze on AMD EPYC"
Hello,

while testing sysdig on different boxes I found that it does not
work on my dual EPYC box.

The same package does work fine on dual Intel Skylake , Quad Intel CPUs
but EPYC.

Version is sysdig-0.21.0 compiled from source found on github.

Basically once sysdig is started it take max 3 seconds to take the box down.
Since the box does not reboot and no logs are written after the error occurs

[2018-04-03 00:43] anoop-sysd commented on #1092
@abucodonosor, would it be possible for you to please include the kernel logs and core file if available?

[2018-04-03 02:54] abucodonosor commented on #1092
@anoop-sysd

there is no core dumped since all is to quick .. I cannot not even type bt full on gdb
since that would be to late to get any data.

if you want I can attach the boot log but all you'll see is:

[code]
and after that box is gone , nothing in coredumctl nor in any logs.

to get the bt I  killed the box 8 times ..

[2018-04-03 02:58] abucodonosor commented on #1092
hmm not even the segfault is written to disc anymore .. I think I see that because
I run dmesq -w

[2018-04-03 06:24] gnosek commented on #1092
We're seeing two issues here: a userspace crash and a kernel bug (whatever the userspace does, it should not cause the kernel to crash).

@abucodonosor, could you please try enabling netconsole and collecting the kernel logs on another machine, e.g. by following these docs: https://wiki.archlinux.org/index.php/Netconsole? Feel free to ping me if you need help with that. Or if you can use a serial

[2018-04-03 07:10] abucodonosor commented on #1092
@gnosek

binary can be found there:
http://ftp.frugalware.org/pub/other/people/crazy/sysdig/sysdig.bz2

I've disabled all SME things and now it seems to work.
So something corrupts memory with it enabled it seems.

Once I'm home  I'll build an kernel with some more debug and try to collect some data
over netconsole.

[2018-04-03 17:44] abucodonosor commented on #1092
@gnosek

The best log I could capture is from SOL .. netconsole won't log to much for some reason.
You can find the log there:

http://ftp.frugalware.org/pub/other/people/crazy/sysdig/sysdig-SOL.log

Also sorry for the strange format but is a bit of a pain to copy that from the SOL console

I'll try to see whatever I can capture the whole trace..

[2018-04-03 17:50] gnosek commented on #1092
Thanks, I'll see what I can get from this log, but if you do manage to get a nicer one, please attach that as well :)

(maybe you need to bump the log level in /proc/sys/kernel/printk for netconsole?)

[2018-04-03 19:52] abucodonosor commented on #1092
@gnosek

I boot with ingore_loglevel initacall_debug loglevel=8 .. on netconsole after the first WARN_ON() log stops .. from SOL which has a dedicated NIC on BMC , at least I can get a bit more out just the format is a bit strange..

[2018-04-04 09:32] SteveHallNNT commented on #865
Hi @arossert - the PR is listed as "This branch has conflicts that must be resolved" - is this something that needs some attention?  https://github.com/draios/sysdig/pull/1008  Sorry to hassle you (I'm being hassled myself!).  Thanks, Steve

[2018-04-04 09:41] arossert commented on #865
No worries, I will look into it today.

[2018-04-04 11:08] arossert commented on #865
@SteveHallNNT, I have fixed the conflicts and the PR is ready to be merged again.

[2018-04-04 11:08] SteveHallNNT commented on #865
Thanks so much @arossert

[2018-04-04 15:58] gnosek commented on #1092
I don't have an EPYC system handy, but here's a patch based on my reading of the SME code: https://github.com/draios/sysdig/commit/3a43d934288f4cbbab156b3156a96401845a234b

Can you give the sme branch a try and see if it crashes as well? (it only differs by this one commit from current HEAD, FWIW).

[2018-04-04 17:02] abucodonosor commented on #1092
@gnosek

Thx :) It seems to work fine with SME enabled now.

I've basic tested sysdig/csysdig with some random commands and all seems fine.

[2018-04-04 17:55] gnosek commented on #1092
Great :) Thanks for testing :)

[2018-04-04 17:59] abucodonosor commented on #1092
@gnosek

Thank you for the quick fix :)

I will let some things  run at least 24h on the box.

Also since you don't seems to have EPYC testing boxes feel
free to poke me whenever you want to have something tested
on EPYC.

[2018-04-04 18:35] abucodonosor opened #1097 "Wrong things in build / install system"
Hi,

there are some things I found wrong while testing / packaging
sysdig for Frugalware Linux:

* 1 - sysdig/csysdig/sysdig-probe-loader are installed in $prefix/bin
        while these being 'root' bins only. So they need go to $prefix/sbin
        Or let in /bin/ ( even when wrong ) , add a udev rule for the kernel modules
        with a special group so users in that special group can work wit

[2018-04-04 22:59] abucodonosor commented on #1097
Some more things:

In case of !Debug builds KBUILD_FLAGS is set to not-in-this-source
existing SYSDIG_FEATURE_FLAGS so KBUILD_* is always empty.
In case on Debug only debug flags gets set ofc bc same issue.

Your default CFLAGS eg: -O3 with ggdb does not make any sense.
Here 3 issues ..
 1) -ggdb is Debug target flag should not be set in generic target
  2) -O3 hardcoded is not nice .. if you don'

[2018-04-05 00:03] abucodonosor commented on #1097
You may also consider to check the gcc version and add
-fno-delete-null-pointer-checks for gcc >=6

[2018-04-05 00:10] anoop-sysd commented on #1092
This issue is considered resolved with the fixes in PR https://github.com/draios/sysdig/pull/1096.

[2018-04-05 00:10] #1092 closed

[2018-04-06 03:04] abucodonosor commented on #940
I'm getting that from time to time too .. I'll try to find an reproducer.

[2018-04-06 03:16] abucodonosor commented on #940
and just found one:

[code]

However running these command won't make it return the same error.

Strange thing is after starting  sysdig again I got an segfault.

[code]

[2018-04-07 21:37] guardiande opened #1099 "sysdig-inspect can not handle scaps from sysdig 0.21.0"
I recently upgraded sysdig 0.21.0 on Ubuntu 16.04. When I try to open scaps from 0.21.0 in sysdig-inspect 0.2.0 nothing is displayed. csysdig works.

Is this a known issue?

[2018-04-08 00:45] abucodonosor commented on #979
sometimes ?:)

[code]

[2018-04-08 02:51] jonjensen commented on #940
@luca3m @tjskrish I am still having this happen, but I can't tell you the steps to reproduce it. I just start `sysdig -c spy_users` on our server and within hours or a day or so, I get the error. As before it was:

[code]

Our system (with newer versions than when I initially reported):

[code]

I saved a `trace.scap` file like @luca3m requested, but it is 81 GB large! I'm guessing that will not b

[2018-04-08 20:57] abucodonosor commented on #940
@luca3m @tjskrish

I can trigger that all the time with parts of our testuite.

It looks like evt.field(fargs) getting nil sometimes.
I'm not an lua guy but I've added nil and 0 and '' checks .. and then
set fargs to NA so it cannot be nil however the bug still occurs.

Also interesting is after changing print() to use format.string(..)
the bug is gone here. At least I've run the testsuite 10 time

[2018-04-10 19:54] jshearer commented on #1061
Hi @tydavis, did you end up having and luck here? I would love to use a fully default/managed GKE cluster with sysdig, and am unable to do that by switching to Ubuntu. Are there any plans to get this working?

Thanks! :)

[2018-04-10 20:38] hugecannon commented on #689
I seem to be experiencing this now, too.

Any ideas on what may cause this?

[2018-04-11 02:43] tydavis commented on #1061
@jshearer I was able to "make it work" on a host directly, but never got around to fully testing, packaging, or deploying it.

[2018-04-12 18:49] davideschiera commented on #1099
Closed via https://github.com/draios/sysdig-inspect/releases/tag/0.3.0.

[2018-04-12 18:49] #1099 closed

[2018-04-18 12:33] linjinjin123 opened #1102 "How to control the frequency of printing results?"
Hi there, I have a question about how to control the frequency of printing results?

I used the command "sysdig -pc -c topconns", and it update the output about every 2 seconds, I want to apply a slower frequency like updating every 5 or 10 seconds. I didn't find any help from the "sysdig -h" and the wiki. Is there any solution or options to achieve this demand?

[2018-04-20 10:29] SteveHallNNT commented on #865
Hi @arossert - sorry too bother you, but do you know what we need to do to get this merged?  All looks good on the PR but I can't see that it's been merged yet?
Thanks
Steve H

[2018-05-01 17:17] luca3m opened #1108 "sysdig -w mode should give more feedback"
Currently if you run:

[code]

sysdig gives you no feedback of:

- if it started to actually parse events (like the initial startup has already been done)
- how many events got to the captures
- how many seconds worth of events have been put in the captures

Even if not all of the above and in live mode, I think we should at least give a feedback at the end about how many events got into the captu

[2018-05-04 22:42] bertocci commented on #1064
Even with -T specified, tracers aren't working for tracer fds that are created before sysdig starts. It appears to be a regression from #883.

[2018-05-05 07:36] Stono commented on #1061
This is my only reason for not using sysdig

[2018-05-07 18:36] Rosanna4 opened #1114 "Building kernel module fails with linux 4.17-rc4 and GCC 8.1"
[code]

[2018-05-07 23:08] #1064 closed

[2018-05-09 22:47] gianlucaborello commented on #1061
If you folks want to be alpha testers for this and try the latest development release on any COS version running 4.14 kernel (https://cloud.google.com/container-optimized-os/docs/release-notes), it should work fine:

[code]

There's still a benign warning in dmesg that I'm going to fix tomorrow, but besides that it should work fine and it can't cause instability to your machine despite being alpha

[2018-05-09 22:47] gianlucaborello commented on #945
If you folks want to be alpha testers for this and try the latest development release on any COS version running 4.14 kernel (https://cloud.google.com/container-optimized-os/docs/release-notes), it should work fine:

[code]

There's still a benign warning in dmesg that I'm going to fix tomorrow, but besides that it should work fine and it can't cause instability to your machine despite being alpha

[2018-05-11 20:09] Rosanna4 commented on #1114
I confirmed this happens with sysdig from current dev git branch.

[2018-05-12 20:03] bdimych opened #1118 "FR: command line switch for folding repeated events,"
i.e. if there are 100 identical events in succession (for example "read" when reading big file) then record only the first and then only count others without recording (e.g. "and 99 more"),

[2018-05-16 00:04] tjskrish commented on #1108
I think sysdig capture does display the events like openfd, lchown etc that are stored in the scap file

[2018-05-23 10:17] HaleTom opened #1131 "Install guide for Arch / Manjaro linux"
I'm running Manjaro (based upon Arch).

I've installed the `sysdig` package, and see:

[code]

What am I missing?

[2018-05-30 09:47] linjinjin123 opened #1135 "Is there any guide to help me with reading the source code?"
Hi there, I am interested in this project, I'd like to learn the principle of sysdig from source code and do some contribution in the future.  I want to know how can I get started ? Is there any guide to help me, such as reading some important file of source code firstly.

Thanks a lot !

[2018-05-30 12:25] mateobur opened #1136 "Sysdig doesn't seem to capture read operations over container process #1 binary file"
Foe example, booting a new nginx container I don't get any file read operation over '/usr/sbin/nginx'

How to reproduce:

Start the capture using:

`# sysdig -pc container.name != host -w nginxdump`

A couple of seconds later I launch a new nginx cotainer:

`# docker run -d -P nginx`

The resulting capture doesn't contain any file read for '/usr/sbin/nginx', even though 'lsof' inside the container

[2018-05-30 23:18] CameronLonsdale opened #1138 "Source repo link for sysdig/agent 404"
In https://hub.docker.com/r/sysdig/agent/ the link to the source repo `draios/agent` https://github.com/draios/agent returns a 404 by GitHub.

[2018-06-05 03:22] hiberabyss opened #1140 "Docker image did not work"
Hi,

When I try to run the sysdig container with following command:

[code]

I will get following errors:

[code]

Following is the image info:

[code]

[2018-06-10 16:09] admirabilis opened #1148 "filter error: invalid comparison operator: glob"
Error in filter.rel_expr() filter error: invalid comparison operator: glob

    Sat Jun  2 23:46:22 2018: Runtime error: Error loading rules:C++ exception. Exiting.

Falco supports `glob` on [userspace/engine/lua/parser.lua](https://github.com/draios/falco/blob/240a8ffffaad22c0d7faa7f420a03a0e3f383f76/userspace/engine/lua/parser.lua#L268https://github.com/draios/falco/blob/24z0a8ffffaad22c0d7faa7f

[2018-06-11 08:03] blurayne commented on #1114
Mainline Kernel 4.17 is now ofificaly released. Same errors to me by installing offical kernel linux-modules-4.17.0-041700-generic_4.17.0-041700.201806041953_amd64.deb.

Makefile:1577: recipe for target '_module_/var/lib/dkms/sysdig/0.19.1/build' failed

[2018-06-12 13:47] ssbarnea opened #1150 "Docker image does not work on Synology"
Apparently Sysdig container cannot be run on Synology because it requires linux headers, something that works against the concept of having "portable containers". Adding docker host system requirements does limit its portability.

https://sysdig.com/opensource/sysdig/install/

[2018-06-12 20:38] mstemm opened #1152 "lua api callbacks e.g. doesn't understand glob operator"
If you write a falco rule with a glob operator, you run into an error like the following:

```Error in filter.rel_expr() filter error: invalid comparison operator: glob```

The reason for this is that the lua api callbacks, namely the `string_to_cmpop` function, didn't have a case for the operator being "glob".

[2018-06-12 21:30] #1152 closed

[2018-06-14 19:35] teresaejunior commented on #979
I was going to report this here on Sysdig, but I'm not sure this is a duplicate: https://github.com/draios/falco/issues/377

[2018-06-15 12:57] Rosanna4 commented on #1114
It seems fixed by https://github.com/draios/sysdig/pull/1155

[2018-07-03 12:31] ptobin77 opened #1165 "Driver Fails to Compile on Fedora 28"
OS
![image](https://user-images.githubusercontent.com/40795691/42219632-87cfab22-7e9a-11e8-90b9-a0f7d3a711f0.png)

Kernel Version
![image](https://user-images.githubusercontent.com/40795691/42219431-ee760444-7e99-11e8-8dc4-ebde7be42caa.png)

Loading the driver
![image](https://user-images.githubusercontent.com/40795691/42219535-3aac7cd0-7e9a-11e8-8117-6555075acdf4.png)

![image](https://user-image

[2018-07-09 07:08] adityacloud1 opened #1169 "How to Save Sysdig Output"
Hello all,
I am using Ubuntu 16.04 LTS, and  have used Sysdig tool https://sysdig.com/blog/let-light-sysdig-adds-container-visibility/  to monitor LXD container metrics.
Please suggest, how to save the output for the measured parameters like CPU. FILE, NET from the Sysdig screen. Attached screen-shot is just for reference from which parameters needs to be recorded.
![sysdig](https://user-images.gi

[2018-07-09 09:47] #1169 closed

[2018-07-09 09:47] adityacloud1 commented on #1169
Problem is solved

[2018-07-09 18:43] #1114 closed

[2018-07-09 18:47] Rosanna4 commented on #1165
This is duplicate of https://github.com/draios/sysdig/issues/1114 which should be fixed with https://github.com/draios/sysdig/commit/81b761d7131268b15a945f9aa7435fdfb638a242 . You have to build sysdig from latest github spource until new release is tagged.

[2018-07-12 10:46] jun10k opened #1176 "csysdig cannot capture information from the Kubernetes cluster"
OS: CentOS Linux release 7.5.1804 (Core)
Kernel: 3.10.0-862.3.2.el7.x86_64
sysdig version: 0.21.0

Steps:
1. login to the K8S master node.
2. switch to the root user.
3. execute the command "csysdig --k8s-api=https://xxxxx:8443  --k8s-api-cert=/opt/kubernetes/ssl/server.crt:/opt/kubernetes/ssl/server.key:/opt/kubernetes/ssl/ca.crt"
4. **csysdig can only load the process view from current master no

[2018-07-16 21:20] hypersimple opened #1178 "Customize output "evt.info"->"args" delimiter"
We need to get the arguments from `evt.info`  for the event `evt.type:execve`.

However, the output format of `args` in `evt.info` is something like `chmod.+x.index.html.download`. Namely the delimiter for space or tab is represented with the dot (`.`).
This is very hard for separating the words if there is a dot in filenames or other fields.

Can we customize the delimiter? Or any other suggestio

[2018-07-24 10:19] blues-man commented on #385
+1

As CRI-O is becoming the standard interface to talk with OCI runtimes like runc

[2018-07-30 17:02] swood opened #1183 "Problem with build"
Hello.

I downloaded the last version from the GitHub and try to build it in OBS. So, I got an error:

[   91s] [ 28%] Building CXX object userspace/libsinsp/CMakeFiles/sinsp.dir/cursesspectro.cpp.o
[   91s] cd /home/abuild/rpmbuild/BUILD/sysdig-0.22.0/build/userspace/libsinsp && /usr/bin/c++   -DHAS_CAPTURE -DK8S_DISABLE_THREAD -DPLATFORM_NAME=\"Linux\" -I/home/abuild/rpmbuild/BUILD/sysdig-0.22.0

[2018-08-09 23:57] harrysx opened #1191 "IPv6 support"
`fd.(s|r)ip` doesn't support IPv6 addresses:

[code]

This has customer impact when trying to use Falco for v6 addresses.

[2018-08-12 10:12] erikarvstedt commented on #689
Same here, `rxvt-unicode (urxvt) v9.22 - released: 2016-01-23`

[2018-08-15 11:39] waldauf opened #1197 "Cannot connect to Kubernetes"
Hello,

I tried to connect to kube-apiserver but it always failed on the certificates.
  * sysdig in debug mode:
[code]
  * csysdig:
[code]

Can I ask you for help, please?

[2018-08-20 01:42] hlieberman opened #1203 "Multiple Build Failures on arm64/mips/mipsel/mips64el/alpha/riscv"
Hello maintainers,

As reported downstream as Debian bug [#905929](https://bugs.debian.org/905929), sysdig 0.22 fails to compile on several architectures, including all of the mips variants, due to problems in driver/syscall_table.c.  Though the specific error varies slightly, the core problem appears to be that the `__NR_*` symbols are undefined.  For example:

[code]

[2018-08-20 01:43] hlieberman commented on #1203
Full build logs are available at:

[RISC-V](https://buildd.debian.org/status/fetch.php?pkg=sysdig&arch=riscv64&ver=0.22.0-1&stamp=1533064995&raw=0), [mips64el](https://buildd.debian.org/status/fetch.php?pkg=sysdig&arch=mips64el&ver=0.22.0-1&stamp=1532494859&raw=0).

The full list of broken architectures is at https://buildd.debian.org/status/package.php?p=sysdig

[2018-08-29 14:59] majorsimon opened #1208 "endswith operator"
Similar to the existing `startswith` operator, an `endswith` operator for filtering would be very useful for a lot of rules (e.g. file extensions etc.)

[2018-08-29 17:28] ajhalls commented on #193
Just checking back in on Windows Support for live capture. I recently used sysdig to identify a problem with OpenStreetMap / Apache2 configuration and loved what it could do, as I develop c# apps, it would be awesome to have that level of reporting available in Windows as well.

I realize it isn't top priority, so if it isn't going to happen for a few more years, any suggestions for another packag

[2018-09-01 18:45] lukekingbru opened #1210 "build scap fail"
[root@localhost build]# make scap
[ 37%] Built target zlib
[ 37%] Building C object userspace/libscap/CMakeFiles/scap.dir/scap.c.o
/root/smartWathch/client/third_part/sysdig/userspace/libscap/scap.c:41:40: fatal error: ../../driver/driver_config.h: No such file or directory
 #include "../../driver/driver_config.h"
                                        ^
compilation terminated.
make[3]: *** [user

[2018-09-01 22:37] #1210 closed

[2018-09-03 04:35] lukekingbru opened #1211 "running probe version is 0.23.1, but it should be 0.1.1dev. Load the correct probe. (1)"
[root@localhost 01-open]# ./scap-open
running probe version is 0.23.1, but it should be 0.1.1dev. Load the correct probe. (1)

How to fix this ?

OS:
centos 7.0

[2018-09-03 04:39] #1211 closed

[2018-09-04 13:20] swood commented on #1183
Anybody could help me with this problem?

[2018-09-05 11:49] nathan-b commented on #1183
Do you have libcurl installed on your system?

[2018-09-05 11:55] swood commented on #1183
Yes, and header-package installed as well.

[2018-09-07 07:14] objectiveinteraction opened #1216 "compiling sysdig tag 0.9.0"
I've cloned the github repo and git checkout 0.9.0. At the moment, the compilation stops at cputime_t is an unknown type name. Do i have to checkout particular branches of the project and the correct tags? Since cputime_t has been deprecated in higher kernel versions, can i simply replace them with the recommended ktime_t?

[2018-09-07 07:35] objectiveinteraction commented on #1216
Checked out 0.23.1 . All good

[2018-09-07 07:35] #1216 closed

[2018-09-07 09:10] hxer opened #1217 "Inaccurate output %proc.exe when evt.type=execve and evt.failed=true"
sysdig read offline scap file as follow:

sysdig -r 20180907_005910.scap proc.pid=15557 and evt.type=execve and evt.failed=true
35818187 00:54:54.534947884 1 sh (15557) < execve res=-8(ENOEXEC) exe=./mi666 args= tid=15557(sh) pid=15557(sh) ptid=15554(sh) cwd= fdlimit=100001 pgft_maj=0 pgft_min=65 vm_size=106072 vm_rss=380 vm_swap=0 comm=sh cgroups=cpuset=/.ns=/.cpu_cgroup=/limitcpu.cpuacct=/.mem_c

[2018-09-07 09:19] hxer commented on #1131
sysdig driver not work, may be you can run `sysdig-probe-loader` with root

[2018-09-07 09:29] hxer commented on #1135
i read source code for old version 0.1.72, that is easy to understand how to deal  with event.

[2018-09-09 14:15] arossert commented on #865
I believe that this can be closed now.

[2018-09-13 08:26] cstayyab opened #1220 "tracking a specific session of SSH"
I want to track the activity of a specific user session on SSH.
I got a line from auth.log using sysdig chisel `echo_fds`. Here is that line:

`Sep 13 12:19:39 itsec systemd-logind[1270]: New session 3111 of user itsec.`

Now which sysdig filter can I user to track only those logs which are generated by the session 3111 as described by above line. I want to use `spy_users` with filter `user.name=a

[2018-09-13 15:10] lingfennan opened #1221 "Sysdig crash and exit in when running inside docker and dumping traces to files"
I have been running the sysdig:0.23.1 docker image for more than one day on multiple machines to monitor docker container executions, sysdig failed on two of my machines and printed the same error message:
[code]

The sysdig command that I am running is:
[code]

On one machine, sysdig fails when finishing dumping `$OUTPATH22` (size 2G) and starting dumping `$OUTPATH23` (size 0).
One the other mach

[2018-09-14 08:09] cstayyab opened #1222 "Cannot run Sysdig 0.23.1 on Ubuntu 16.04.5"
Hi!
I recently upgrade my sysdig using the following repo:

`https://s3.amazonaws.com/download.draios.com/stable/deb/draios.list `

**Old version:** 0.8.0
**New Version:** 0.23.1
**Kernel Version:** 4.4.0-131-generic
**Error Message:** Error calling PPM_IOCTL_GET_PROBE_VERSION
**OS:** Ubuntu 16.04.5

[2018-09-14 10:38] DelightShine opened #1223 "Why the driver allocates memory for per cpu."
at the userspace, I can't see any procedure dealing with the memory associated to the CPU. I guess that allocating memory for per cpu is doing for CPU L3 caches originally，but How to ensure that CPU will not be switched in the driver and userspace comes into eyes!

[2018-09-14 15:11] mfdii commented on #1222
Are you sure the old kernel module has been unloaded and the new one loaded? `dmesg |grep sysdig` should show if the 0.23.1 module was loaded.

[2018-09-15 07:56] cstayyab opened #1224 "FR: Chisels in Python"
Can we write sysdig chisels in python instead of LUA. Or is there already a way to do it?

[2018-09-15 15:30] ldegio commented on #1224
Currently, the chisels interface support Lua only.

What's the use case? If it's output parsing, one option is using the -j flag to emit json and then parse the result from python.

[2018-09-15 15:31] #1224 closed

[2018-09-15 17:26] cstayyab opened #1225 "Using proc.apid array in chisels"
Hi!
How can I get the full ancestors array of a process ( i.e. proc.apid ) such that I can search through it like proc.apid[0], proc.apid[1]  and so on...

If not possible then what is the alternative currently available??

[2018-09-17 19:10] jayaddison commented on #865
Thanks @arossert !

[2018-09-17 19:10] #865 closed

[2018-09-18 13:18] patonza commented on #1222
We had the same problem and I can confirm that running `rmmod sysdig_probe` solved the issue for us too.

[2018-09-25 18:44] ghost opened #1230 "Misleading error message when fd limit breached"
On systems where the number of active processes is greater than the file descriptor limit that `sysdig` executes under, execution fails at startup in [scap_open_live_int](https://github.com/draios/sysdig/blob/80f2142ac22110701e2f1e9b048b4eb79caf2639/userspace/libscap/scap.c#L408-L418) with the following output:

[code]

`strace` shows that this is preceded by an `EMFILE` return code from `open("/p

[2018-09-27 04:38] kristopolous commented on #1135
start at the entry point of the main userland process over yonder: https://github.com/draios/sysdig/blob/dev/userspace/sysdig/sysdig.cpp
From there you can follow down the execution of different aspects to different parts. Have fun.

[2018-09-27 18:46] nathan-b commented on #1183
Apologies if this is a silly question, but I note you're using OBS. Did you make sure to specify libcurl as a requirement in the OBS recipe?

[2018-09-28 06:12] azharz commented on #152
Too many sysdig instances attached to device /dev/sysdig0. Current value for /sys/module/sysdig_probe/parameters/max_consumers is '5'.

what should i do

[2018-09-28 13:46] likunyan commented on #763
@axiaoxin
`$ whereis sysdig-probe-loader
sysdig-probe-loader: /usr/bin/sysdig-probe-loader
$ /usr/bin/sysdig-probe-loader`

[2018-09-28 20:52] kristopolous commented on #1217
Would you be comfortable posting the file or sending it to me via email? If you're really concerned about the privacy, feel free to encrypt it with my public key http://getpostdelete.com/id_rsa-ChrisMcKenzie.pub

[2018-09-28 20:59] kristopolous commented on #1108
An output similar to progress and pv would be nice. See [here for an article on it](https://www.howtoforge.com/tutorial/how-to-monitor-progress-of-linux-commands-using-pv-and-progress-utilities/)

[2018-09-28 21:03] kristopolous commented on #1230
Would a more descriptive error message with some suggestions reach this goal or do you expect some logic underneath to better detect this class of failure?

[2018-09-28 21:09] jayaddison commented on #1230
@kristopolous If it's possible to detect this particular failure/error code (I *think* it is, but I don't know if it's guaranteed to fail at the same line of code in all cases) and tell the operator that it was due to a file descriptor limit that would seem 'optimal' but if it's significantly easier to add, simply an updated message/list of suggestions would be an improvement

[2018-09-29 22:51] kristopolous commented on #1183
This may be silly but could you have an older version of curl installed, as in 2015 or older? The constant was first introduced in a release in 7.43.0 ([original commit](https://github.com/curl/curl/commit/02ec1ced9ba3bf70f6198b39c39b15fc80c97f09#diff-a539134a8261490f653400a3a99df731)), that's Jun 17, 2015.

You may have multiple versions of this header and the build is getting confused ... it's j

[2018-10-04 18:51] xamox opened #1241 "Getting error: PERF_EVENT_IOC_SET_BPF: File exists, when trying to run BPF container based sysdig on COS with pre-emptible nodes."
On a GKE node that is running COS.  Tried running docker based container using both methods (--net=host) listed here: https://github.com/draios/sysdig/wiki/eBPF#container-mode-recommended.

Both had the same issue.  This only appears to happen on pre-emptible nodes, if i use a standard node sysdig appears to work.  I may also file a ticket with google to see if they have some reasoning behind it.

[2018-10-04 20:17] gianlucaborello commented on #1241
Thanks for reporting this.

Can you confirm again that the key difference is the preemptible in your use case? Because I can't replicate it on my side on a preemptible instance, but I know that for some reason on COS I can't seem to be able to run two instances of sysdig at the same time, or more generally two eBPF programs that might be attached to the same kernel events, but I haven't had time t

[2018-10-05 00:13] beauhoyt opened #1243 "Failing to download sysdig-probe-0.24.0-x86_64-3.10.0-862.6.3.el7.x86_64-aa76ad50d3f3599996ad932dcaa99003.ko"
Looks like it doesn't exist or permission issue when trying to download:

`sysdig-probe-0.24.0-x86_64-3.10.0-862.6.3.el7.x86_64-aa76ad50d3f3599996ad932dcaa99003.ko`

Problem:
[code]

Though it works for a slightly older version:
[code]
works: `sysdig-probe-0.23.1-x86_64-3.10.0-862.6.3.el7.x86_64-aa76ad50d3f3599996ad932dcaa99003.ko`
fails: `sysdig-probe-0.24.0-x86_64-3.10.0-862.6.3.el7.x86_64-aa76a

[2018-10-05 08:21] beauhoyt commented on #1243
Seems to be fixed now. Thank you 👍

[2018-10-05 08:21] #1243 closed

[2018-10-05 13:43] mfdii commented on #1243
We had just released 0.24.0 when it was failing for you. The kernel modules
hadn't made it to the s3 bucket yet.

On Fri, Oct 5, 2018 at 4:21 AM Beau Hoyt <notifications@github.com> wrote:

[2018-10-05 15:06] xamox commented on #1241
Okay, yep that is exactly the issue. So I was running falco with BPF as a daemonset on these nodes.  What I didn't realize is one of the nodes I tested on had taints so falco wasn't running on this node hence why I thought it wasn't working on preemptible nodes and working on standard, but it in fact doesn't appear to matter, the issue appears to be that falco is using BPF and when I try and run s

[2018-10-05 18:33] beauhoyt commented on #1243
@mfdii Ah I see. Thank you for the explanation! 😄

[2018-10-05 20:19] gianlucaborello commented on #1241
I found the issue, the kernel didn't support attaching multiple eBPF programs to the same perf event up until 4.15 (https://github.com/torvalds/linux/commit/e87c6bc3852b981e71c757be20771546ce9f76f3), and since COS uses 4.14 that's what we get.

Now, fixing this doesn't really sound easy and on top of my head I can't imagine how I could do that (e.g. pinning the eBPF programs to the BPF FS to make

[2018-10-05 21:49] gianlucaborello commented on #1241
As promised, I thought a bit about it. The solutions I see are two, posting here so we don't forget in the future:

1) Create and persist a number of N BPF_MAP_TYPE_PERF_EVENT_ARRAY maps via the BPF fs (where N is the maximum number of consumers allowed): the first sysdig consumer that starts creates the BPF program and maps and attaches them to the tracepoint event. Each successive consumer will

[2018-10-08 11:53] hxer commented on #1217
Test file has been sent to you via email.
Thanks

[2018-10-08 13:50] xamox commented on #1241
@gianlucaborello Awesome, thanks for the follow up and digging into the issue.  I'm not sure I have enough insight into how sysdig works to weigh in on a solution, but it does appear that GKE is planning to stick with 4.14 as it's base for a while (https://cloud.google.com/container-optimized-os/docs/release-notes). At least december according to that link.  Not sure how much work it is for you, i

[2018-10-10 05:53] Canon88 opened #1249 "Sysdig able to get process or file hash, MD5?"
Hi, all:
    I have a question, Sysdig able to get process or file HASH、MD5?

[2018-10-14 16:13] mfdii commented on #1140
You need to specify mounts for the host OS as specified in the [docs](https://github.com/draios/sysdig/wiki/How-to-Install-Sysdig-for-Linux#installation-inside-a-docker-container).

[2018-10-14 16:13] #1140 closed, assigned to nobody

[2018-10-17 08:49] #825 closed

[2018-10-17 08:49] #841 closed

[2018-10-23 19:56] omid-s commented on #289
any body knows of a progress on this issue ?
or any other way one can simulate an inode?
fd.uid has the closest one i guess but it's a chaining of thread id to fdnum which is very process dependent.

[2018-10-23 20:22] zoehneto opened #1253 "Reliably retrieving syscall arguments and return value"
I'm trying to retrieve the syscall arguments and the return value in the same order they are specified in the man pages by running the following sysdig command:

[code]

This works correctly for some syscalls:
[code]

but not for others:
[code]

Is there some way to get the same argument order as defined in the man page or am I misunderstanding the documentation for this formatting, which seems to

[2018-10-25 15:58] gianlucaborello commented on #289
I'm working on a new feature that could heavily benefit from getting the device/inode numbers every time a new file is opened (in my case it's for uniquely identifying memory mapped executables across different processes/containers). So, you can expect that this will come at some point (for the moment I'm resolving it by using `/proc/$PID/maps`, which contains, among other things, the device/inode

[2018-11-11 21:14] q2dg commented on #505
I'm unable to use any function key inside a Virt-manager/Qemu/KVM VM so I'm unable to use csysdig :-(

[2018-11-13 17:21] pbar1 commented on #1131
I'm still seeing similar errors on
```Linux 4.14.79-1-MANJARO #1 SMP PREEMPT Sun Nov 4 16:57:03 UTC 2018 x86_64```
and
```sysdig version 0.24.1```

Running as root and executing `sysdig-probe-loader`:
[code]
and then running `sysdig`:
```error creating the process list. Make sure you have root credentials.```

[2018-11-14 12:02] HaleTom commented on #1131
@hxer You'll need to install the kernel headers package. I forget the name.

[2018-11-16 15:18] Cousjava commented on #300
@ewirch `lsof -Ki` to ignore threads

[2018-12-28 02:27] yujinqiu opened #1286 "What's the different between fd.sip and fd.rip"
Hi,
   I was confused about the  sysdig doc  `sysdig -l`

[code]
What's the different between `fd.sip` and  `fd.rip` ?   Are they the same things with different name?

[2018-12-28 21:58] ye commented on #1061
The wiki page for `eBPF` seems to be changed to https://github.com/draios/sysdig/wiki/eBPF (without the beta part). I will give it a shot new week to test on GKE nodes running ContainerOS.

[2018-12-30 17:08] lordisp opened #1287 "docker version fail on AWS nodes"
Tried to to run the store/sysdig/sysdig:0.12.0 image on one of my aws manage nodes and it seams the installation script within the container (Dockerfile) cant work with aws kernel lables:

[code]

my node:
[code]

[2019-01-04 11:29] gschintgen opened #1289 "0.24.2 csysdig -vcontainers shows only "Collecting Data" on LXD host (ubuntu 18.04)"
I can't get csysdig to show any information on my LXD containers. It only ever shows "Collecting Data" and nothing else when I choose the containers view (either via F2 or -vcontainers). Other views seem to work just fine.
This happens both with the ubuntu-provided 0.19.1 and with the official upstream 0.24.2.
It's 100% reproducible on my system. (Ubuntu 18.04 server, freshly installed, main usage

[2019-01-04 11:45] gschintgen commented on #1289
Somehow sysdig can't detect any of my running containers:
[code]

`lxc list` works just fine of course.

[2019-01-04 13:13] charles-dyfis-net opened #1290 "Depends on CONFIG_AUDITSYSCALL for /proc/<pid>/loginuid"
Without `CONFIG_AUDITSYSCALL` enabled for the running kernel, sysdig's userspace tools fail:

[code]

...the specific point of failure being:

[code]

Observed with sysdig 0.24.1 (no relevant code changes appear to be present in 0.24.2) and kernel 4.18.10.

---

Per @gianlucaborello on Slack:

[2019-01-07 14:34] max-rocket-internet opened #1291 "How to debug net.error.count? Where does this metric come from?"
I have a process that creates a peak in the metric `net.error.count`. I would really like to debug this further but I not sure how. This metric doesn't come from interface statistics.

So where does it come from?
How I can see this metric without Sysdig when I'm logged into the host?
Where in this repo is the code that generates this metric?

Any help would be appreciated.

[2019-01-08 16:59] ldegio commented on #1291
I'm assuming by net.error.count you mean the Sysdig Monitor metric. If that's the case, that metric counts how many errors have been generated by operations on network socket file descriptors.

To understand what the cause is, I would generate a trace file from Sysdig Monitor and then do something like:

`> sysdig -r file.scap fd.type=ipv4 and evt.failed=true`

Which will show every single failed

[2019-01-08 16:59] #1291 closed

[2019-01-09 09:02] max-rocket-internet commented on #1291
OK thank you @ldegio !

Did I miss documentation for this? Or is it non-existent?

[2019-01-10 20:52] ndangles opened #1292 "`sysdig -c spy_users` won't pipe data"
Hi there,

I want to pipe the output of `sysdig -c spy_users` to a bash script for some real time parsing (`sysdig -c spy_users | ./myscript`, however for whatever reason I am not receiving any data even though I am confirming the command is outputting data. Running `sysdig -c spy_users` alone will output the commands but when piping that even to `cat` or a script it will not output anything (I te

[2019-01-11 21:53] gianlucaborello commented on #289
(Commenting if someone else ventures into this)

I spent some time today in what I thought would be an easy change to the kernel driver/eBPF probe to export the device/inode numbers for open/mmap operations, in order to have better auditing.

Surprisingly it's not easy, because we can't just assume that the struct navigation `task_struct -> fd -> struct file -> struct inode -> dev/inode` works: in

[2019-01-11 22:00] ldegio commented on #289
can we adopt the kernel approach for the majority of the cases where it would work and only using stat() when strictly required? I assume it would be more efficient?

[2019-01-11 23:09] gianlucaborello commented on #289
The problem is that we don't know when it is "strictly required": there is no obvious way (that I could find, at least) to distinguish an invalid inode from a valid one, everything happens inside the fs-specific code. It definitely took me a while to realize, I had all the code working with several tests as well, and when I used it inside a container it was not working, and had to trace what happe

[2019-01-14 17:59] ldegio commented on #1292
I'm pretty sure you are hitting stdout buffering issues in the C standard library.

sysdig has the `--unbuffered` command line flag to force stdout flushing in situations like these, but I'm pretty sure it doesn't apply to chisels output, so you will likely need to do some Lua coding and edit the spy_users chisel in some way similar to this https://stackoverflow.com/questions/18541636/is-stdin-std

[2019-01-14 17:59] #1292 closed

[2019-01-18 07:04] burritoaddict opened #1295 "Out of bounds memory read on 64 bit systems"
There's an integer truncation here when we assign the product of an unsigned long to a u32:

https://github.com/draios/sysdig/blob/123ba4d1a3bb5534ec8b92bbb10a356ff9652a5d/driver/ppm_events.c#L1109

j can now advance past what we copied from userspace leading to an out of bounds read:
https://github.com/draios/sysdig/blob/123ba4d1a3bb5534ec8b92bbb10a356ff9652a5d/driver/ppm_events.c#L1127

[2019-01-18 13:41] kippandrew commented on #903
I've run into the same issuing trying to build the falco driver for linuxkit (which uses Alpine). LinuxKit is used by Docker for Mac.

[2019-01-19 15:04] Pwera commented on #1287
1) cd /lib/modules/4.15.0-1031-aws
2) ls -lha
3) cd build
This build can links to non existing directory.

[2019-01-28 15:46] Maryse47 opened #1299 "sysdig kernel module fails to build since Linux 5.0rc4"
It worked for Linux 5.0rc3 and before.
[code]

[2019-01-30 07:38] johnyannj commented on #300
@Cousjava  -Ki  not work

[2019-02-02 16:48] Issif opened #1307 "Avoid to capture syscalls for container wherein sysdig runs"
Hi,

I use a lot sysdig inside the docker from dockerhub. It works well but as I don't want to print or record in a capture the syscalls of the container wherein sysdig runs, I've to add filters like `container.id!={sysdig.container.id}` or `container.name!={sysdig.container.name}` which is not always convenient.

I thought of usage of an argument to tell to sysdig to do not trace syscalls from it

[2019-02-04 18:06] mstemm opened #1308 "Migrate k8s replicasets/daemonsets/deployments from extensions/v1beta1 to apps/v1"
Currently, the k8s metadata code uses `extensions/v1beta1` apis to get information about replicasets/daemonsets/deployments. There are new apis available to access these resources at `apps/v1`. We should migrate to the new endpoints and adapt models/etc as needed.

[2019-02-05 19:07] slashbeast opened #1309 "sysdig does not register evt.type=open at all"
Hi,

I am running sysdig on two separated Gentoo systems with vanilla manually built kernel. I've noticed that sysdig is unable to pick any evt.type=open, but it does register openat calls. I tried the opensnoop from perf-tools too and it also does not register anything. I suspect that I must miss some kernel symbols that let sysdig and other similar tools trace open() calls but I am unable to fin

[2019-02-05 22:58] fang19911030 opened #1311 "The sysdig is automatically killed"
sysdig version 0.24.2， Ubuntu version 18.04.1(server)
When I start the process sysdig to monitor the system, it will be automatically killed after about 3 or 4 hours. Does anyone have a similar issue? Thank you.

[2019-02-05 23:03] fang19911030 commented on #1311
sysdig version 0.24.2， Ubuntu version 18.04.1(server)
When I start the process sysdig to monitor the system, it will be automatically killed after about 3 or 4 hours.  Does anyone have a similar issue? Thank you.

[2019-02-06 19:30] #1311 closed

[2019-02-10 22:15] mattheworiordan opened #1313 "Install on Ubuntu - missing pub key: NO_PUBKEY 026810B163535FC5"
When following the install instructions on an Ubuntu 14.04 server, the install now fails.  This was working just a few days ago, and simply working around by it by adding what may not be a trusted key is clearly not a good idea.

[code]

[2019-02-10 23:21] mstemm commented on #1313
Sorry for that, as a part of an unrelated release (falco 0.14.0), we inadvertently signed the latest rpm/deb metadata files with an incorrect gpg key. We've re-published the packages and rpm/apt metadata signed with the right gpg key, so it should be working now.

[2019-02-10 23:21] #1313 closed

[2019-02-11 03:36] oldebreeze opened #1314 "Docker image build "Unable to locate package gcc-5""
Running `docker build -t <tag> sysdig/docker/<dockerfile_dir>` with the latest code fails on `E: Unable to locate package gcc-5` while trying to add the below step:

[code]

Run log located here: https://pastebin.com/b5QK9yQB

Discovered accidentally while trying to add a custom statsd check to the agent, attempted to build the image with the additions and this error occurred. Reproduced with fres

[2019-02-11 20:58] mstemm commented on #1314
Debian recently removed gcc 5 and gcc 6 from debian:unstable. Our Dockerfiles include a wide array of gcc versions so we can build kernel modules from inside the container that are loadable from the host.

Falco has had some recent releases where we worked around these issues (https://github.com/falcosecurity/falco/pull/501, https://github.com/falcosecurity/falco/pull/526). These kinds of changes

[2019-02-13 02:24] MaskRay opened #1316 "userspace/sysdig/{sysdig,csysdig} need -lidn2"
On Debian testing, `cmake -GNinja -H. -Bbuild; ninja -C build`

[code]

Manually adding `-lidn2` fixes the link issue.

[2019-02-27 20:32] mstemm opened #1321 "Docker container metadata fetching is blocking, which can result in dropped system calls"
Currently, when sysdig notices that a docker container has been created, it does a blocking fetch of metadata from the docker socket. This can take up to hundreds of milliseconds for the docker daemon to respond with the container's metadata, and on busy systems this can result in dropped system calls.

We should make fetches of container metadata asynchronous and have a separate "container event"

[2019-03-06 07:02] gitdhar opened #1325 "skip to next event in the current event handler"
I'm writing a chisel and I would like to process the "next" event from the current event context (on_event). Is that possible?
Another option - is it possible make a copy of the current event and come back to it later?

[2019-03-06 12:13] Maryse47 commented on #1299
Fixed by https://github.com/draios/sysdig/pull/1302

[2019-03-06 12:13] #1299 closed

[2019-03-07 08:17] axot commented on #599
Does mouse functional in OSX? I got Mouse Input not supported in this terminal with --force-term-compat flag.

[2019-03-07 09:32] axot commented on #526
I think separate mouse clicks not work in my OSX, I'm using 0.24.2. Any ideas?

[2019-03-08 15:58] vmessie opened #1328 "Segmentation fault anytime (Debian 9)"
Hello,

I just installed sysdig (latest stable), and I get a segmentation fault each time I try to run it:

    # sysdig
    Erreur de segmentation

Here's my `dmesg`:

[code]

System informations :

[code]

And when I try to run it on `gdb`
[code]

Is it something I did wrong, or an actual issue?

Thanks in advance for the help !

[2019-03-08 20:53] ldegio commented on #1328
is there any chance you have manually compiled or recently upgraded sysdig? An error like this one typically happens when the versions of the kernel module and sysdig don't match.

[2019-03-11 09:43] vmessie commented on #1328
Hello and thank you for your help. Actually, I just installed sysdig (binaries) for the first time, using the repository. But when I compile it from source (and use the kernel module from the git repo), it works perfectly. Thanks!

[2019-03-11 09:43] #1328 closed

[2019-03-13 19:36] Kaizhe opened #1331 "Improve file centric detection"
Suggestions:
For system calls like `chmod`, `chown`,`mknod` can we provide `fd.name` value?

[2019-03-13 19:37] Kaizhe commented on #1331
Please DM me if you want to know more details why I request this.

[2019-03-22 08:57] io41 opened #1340 "constant crashes on ubuntu 16.04"
All system packages are upgraded to the latest version.
Sysdig is installed from the draios repos.
The machine in question has been rebooted after upgrades have been applied.

Everytime I run sysdig, I get a segfault in less than a second.
[code]

[2019-03-25 10:02] JoeMattie commented on #1289
Same issue here.  It can, however, show my docker containers

[2019-03-26 01:09] JoeMattie commented on #1289
I got this working again by downgrading lxd to 3.0.3/stable I'm unsure if this is a bug with lxd or sysdig at this point.

[2019-03-26 16:32] JoeMattie opened #1344 "Can't identify LXC containers due to new /sys/fs/cgroup/cpuset/lxc path"
LXC v3.11 (and possibly older) splits

`/sys/fs/cgroup/cpuset/lxc`
into
`/sys/fs/cgroup/cpuset/lxc.monitor` and `/sys/fs/cgroup/cpuset/lxc.payload`

As sysdig is expecting to find '/lxc/' in the path, it is no longer able to identify LXC containers.

[Relevant line](https://github.com/draios/sysdig/blob/5bb1ca94a29dc02ae14545653c9b9a72ec21732f/userspace/libsinsp/container_engine/lxc.cpp#L36)

[2019-03-26 17:44] mfdii commented on #1344
Is there any lxc documentation about the difference between `lxc.monitor` and `lxc.payload`? I assume we would only care about the `lxc.payload` containers?

[2019-03-26 17:49] JoeMattie commented on #1344
Not that I've found.

@stgraber might be able to shed some light on this.

Can confirm that sysdig seems to work after changing the path to '/lxc.payload/', working on a PR now.

This is not likely a complete fix however, as @stgraber commented [here](https://github.com/lxc/lxc/issues/2919) that

[2019-03-26 17:52] mfdii commented on #1344
Thanks for working on the PR. In order to support older versions of LXC the parsing logic would need to be able to find `/lxc/` and '/lcx.payload/`/`/lxc.monitor/` containers

[2019-03-26 19:55] JoeMattie commented on #1289
@gschintgen I tracked down this issue eventually and submitted a PR to the sysdig repo: https://github.com/draios/sysdig/pull/1345

[2019-03-26 19:57] JoeMattie commented on #1344
Related (same) issue: https://github.com/draios/sysdig/issues/1289

[2019-03-29 08:00] mgorny opened #1348 "System c-ares, protobuf, grpc do not support shared libraries"
The code in CMakeLists hardcodes using static libraries. This doesn't work for systems that install shared libraries only (and forcing static is plain insane, security-wise).

[2019-03-29 08:10] mgorny commented on #1348
Actually, the non-bundled code is so broken it's obvious nobody even bothered testing it. I'm going to submit a big PR fixing all of it.

[2019-03-29 08:10] #1348 closed

[2019-03-30 19:03] invano opened #1350 "PT_BYTEBUF max len mismatch with RW_MAX_SNAPLEN"
Hi there,

I'm playing around with sysdig, with chisels in particular. My specific use case requires the biggest snap len possible when recording. I see it's 65000 bytes in kernel space as specified here: https://github.com/draios/sysdig/blob/9722dbc1d0ccaed5a5d29036f4666a5cbfe70dc4/driver/ppm_events_public.h#L1547

However, I noticed that `write` events with a big size always return a `evt.rawarg

[2019-03-31 01:33] mikeguidry commented on #519
Any suggestions for my situation?

I have a lua script which is performing some filtering.  I thought it could happen in userland beforehand, but now I realize that the userland must read the kernel sceario before.  Sending tcp/ip to logstash via LUA script seems to be too slow sometimes with high usage processes taking place.

I just tried to:
mkfifo test
<term 1> sysdig -w test
<term 2> sysdig -

[2019-04-02 09:04] lxzmads opened #1353 "Compilation warnings being treated as errors with kernel >= 5.0.0"
Build error when building against linux-5.0.0:

[code]

[2019-04-04 01:10] ldegio commented on #519
@mikeguidry, if I correctly understand your scenario, you are trying to send TCP data from a chisel.

This can definitely be an issue if you send the data from on_event(), because the sysdig capture pipeline is blocked until on_event() returns. If the network becomes slow, on_event() could block for long periods of time and cause event drops.

I recommend that you decouple your approach and send t

[2019-04-07 18:56] objectiveinteraction commented on #241
Hey does sysdig support this fd.name contains /afile.*/ ?

[2019-04-10 01:09] ldegio commented on #1350
This looks like a bug.

Fixed here https://github.com/draios/sysdig/pull/1361

[2019-04-17 12:04] #1220 closed

[2019-04-18 16:16] mstemm opened #1368 "Rely as little as possible on tinfo for container metadata filterchecks"
Currently, the container and k8s filterchecks rely on a valid threadinfo struct, as that's the only object that directly holds a container id, which is used to access container and k8s metadata.

There are some cases, though, where you don't have a threadinfo object. One case of this is container json events, which will be more important once https://github.com/draios/sysdig/pull/1326 is merged.

[2019-04-19 01:25] #1321 closed

[2019-04-19 16:35] mstemm opened #1371 "K8s metadata support needs to support containerd containers"
https://github.com/draios/sysdig/blob/dev/userspace/libsinsp/k8s_state.cpp#L73 only supports docker and rkt, while the underlying container support within sysdig supports containerd now.

[2019-04-25 16:50] gnosek commented on #1368
@mstemm, draft PR is here, comments appreciated: https://github.com/draios/sysdig/pull/1374

[2019-04-26 07:54] axot opened #1377 "gcc-8 : Depends: binutils (>= 2.31.1) but 2.30-22 is to be installed"
We want to use this as a base image, then install other tools, for now, apt install say

The installation could not be continued, any solutions?

[2019-05-03 09:04] Mikepoplas commented on #415
Hi, I've tried to apply this to version 0.13.0 but:

DKMS make.log for sysdig-0.13.0 for kernel 4.15.18-13-pve (x86_64)
Fri May  3 10:54:13 CEST 2019
make: Entering directory '/usr/src/linux-headers-4.15.18-13-pve'
Makefile:976: "Cannot use CONFIG_STACK_VALIDATION=y, please install libelf-dev, libelf-devel or elfutils-libelf-devel"
  CC [M]  /var/lib/dkms/sysdig/0.13.0/build/main.o
  CC [M]  /var/

[2019-05-03 23:23] gitdhar opened #1393 "sql parser"
There is a mention of "improved sql parser" [here ](https://sysdigdocs.atlassian.net/wiki/spaces/SRN/pages/256540682/Sysdig+Agent+Release+Notes)but I cannot find any info about an SQL parser. Any info about this?

[2019-05-08 00:49] mrtc0 commented on #1353
I also the same error, but I solved it by set the following environment variable.

[code]

[2019-05-10 22:16] maryamag85 commented on #450
Hi,
I have difficulty opening the .scap file in the Linux and process it. what is the best software or library to open it in linux / python.?

[2019-05-14 20:53] Maryse47 opened #1404 "sysdig kernel module fails to build since Linux 5.1"
As usual in every kernel major update, the sysdig module fails to build. Here are specififc errors that occur multiple times during build;
[code]

[code]
There are also following warnings:
[code]

Full log below:
[make.log.txt](https://github.com/draios/sysdig/files/3179839/make.log.txt)

[2019-05-15 17:05] objectiveinteraction commented on #1353
Doesn't stringop-truncation warn against strncpy that might truncate null terminated strings? The cast-function-type warns against casting pointers of one type to another, which can cause indeterminate behaviour. So what these cxxflags do is to allow these coding faux pas to happen. Not so good when it is a kernel module.

[2019-05-16 01:13] abucodonosor commented on #1404
The first error is caused by these changes:

https://lkml.org/lkml/2019/4/1/498

The second one is a missing include now, caused by:

ae5d11d206fce924efcaa8127ffdbdb60c660d7a

[2019-05-16 18:13] Kaizhe opened #1405 "FR: detect init container running in k8s pod"
I would like to have `container.initContainer` (boolean value) to tell this is a init container in the k8s pod.

[2019-05-16 18:26] Kaizhe commented on #1249
no at this moment, please label it with enhancement.

[2019-05-17 08:36] Canon88 commented on #1249
Ok, I am looking forward to this feature.

[2019-05-17 08:36] #1249 closed

[2019-05-18 01:09] fayak commented on #1404
Same error with
[code]

[2019-05-21 22:28] nathan-b commented on #1404
@abucodonosor thanks for tracking down the relevant commits! Much appreciated. Taking a look.

[2019-05-21 22:38] abucodonosor commented on #1404
@nathan-b

The second issue is fixed by something like this:

[code]

However syscall_*_arguments() changes are somewhat biggISH
and you need a lot #if .. #else .. around the code.

[2019-05-22 13:24] nathan-b commented on #1404
@abucodonosor Thanks! You can check out https://github.com/draios/sysdig/pull/1413 if you're interested. I think the preprocessor guards around linux/mman.h are not required because that file has existed in the repository since the 2.6 kernel days (https://github.com/torvalds/linux/blob/1da177e4c3f41524e886b7f1b8a0c1fc7321cac2/include/linux/mman.h#L8).

[2019-05-23 08:55] 18823832169 opened #1416 "The dev branch is compiled, but the runtime is wrong."
gdb infomation:

Program received signal SIGSEGV, Segmentation fault.
0x0000555555ce8670 in sinsp_parser::reset (this=0x55555683dfd0, evt=0x555556823560)
    at /home/vikingwu/下载/sysdig-dev/userspace/libsinsp/parsers.cpp:714
714				int64_t res = *(int64_t *)parinfo->m_val;
(gdb) bt
#0  0x0000555555ce8670 in sinsp_parser::reset (this=0x55555683dfd0, evt=0x555556823560)
    at /home/vikingwu/下载/sysd

[2019-05-23 21:16] Maryse47 commented on #1404
Fixed with https://github.com/draios/sysdig/commit/a6ab1e66fc05a02178e051ea2441633996d5871e

[2019-05-23 21:16] #1404 closed

[2019-05-24 02:21] 18823832169 commented on #1416
os: Ubuntu18.04

[2019-05-24 03:31] abucodonosor commented on #1416
Interesting not sure how you compile it cause is broke :-)

Missing linker flags for curl && tbb , glibc >=2.28 breaks cause missing include

[2019-05-24 03:53] abucodonosor opened #1420 "0.26.0 won't compile"
Hello, getting the following errors:

1) userspace/libscap/scap_fds.c:847: undefined reference to `makedev'

That is because gclibc >= 2.28 need sysmacros.h

[code]

2) missing linker flags for curl && tbb causing hell to break.

I am not sure , but since the most errors, or the first 30 or so
are from libsinsp/container_engine/docker_linux.cpp , looking
@ userspace/libsinsp/CMakeLists.txt curl &&

[2019-05-24 04:01] abucodonosor commented on #1420
Ok this one fixes it for me:

[code]

[2019-05-24 04:07] abucodonosor commented on #1420
While not exactly an error, here gcc >=8.x warnings I noticed:

[code]
code is , catch(sinsp_exception e) , that need be changed to

[code]

[2019-05-25 17:12] Issif commented on #1393
This is related to Sysdig Monitor, an agent and commercial product. Current repository is dedicated to sysdig, a FOSS on which is built Sysdig Monitor.

[2019-05-25 22:31] kristopolous opened #1421 "Sysdig with script introspection"
I've had an idea for a long time and I know sysdig is orders of magnitude larger than when I last had serious engagement but I don't see any evidence of the idea having been implemented. I totally want to build it but if you already have it, it'd be even better!

I've thought about integrating with scripting debuggers and then interleaving timestamps. Is there work on this front? Essentially it wo

[2019-05-26 08:02] fntlnz commented on #1393
@gitdhar , @Issif is right, the doc you are linking does not refer to this Open Source project, closing this. Thanks for asking the question, it will be good as a future reference.

[2019-05-26 08:02] #1393 closed

[2019-05-27 08:12] kristopolous commented on #1421
Thanks to a discussion on slack, the core parts of these features may be covered in tracers https://github.com/draios/sysdig/wiki/Tracers

[2019-05-27 08:29] kristopolous commented on #1421
After further investigation, tracers don't get there. It's a nice tool but it's not this

[2019-05-27 13:35] gnosek commented on #1421
Another angle potentially worth investigating would be uprobes (ideally USDT-based to keep compatibility across builds without debug symbols).

Having USDT probes converted to sysdig tracers would get you close to your promised land I think :)

[2019-05-27 22:35] viraptor opened #1422 "semop() exit not registered"
When tracing `evt.type=semop`, I get both sides of a successful call, but only the entry of an invalid one.

Test app:
[code]

Output:
[code]

This is on ubuntu 18.04 with `4.18.0-20-generic`

[2019-05-28 02:34] 18823832169 commented on #1416
Ubuntu18.04 operating system glibc version is 2.27, can upgrade to 2.28 or later?

[2019-05-28 02:36] 18823832169 commented on #1416
I tried to upgrade glibc-2.27 to glibc-2.29, my operating system is now abnormal.

[2019-05-28 02:40] abucodonosor commented on #1416
Well, updating just glibc is a bad idea.

See https://github.com/draios/sysdig/issues/1420

[2019-05-28 08:31] 18823832169 opened #1423 "release-0.26.0 complied, but unable to load the driver"
Hi！
I downloaded the source code of the release-0.26.0 branch from github. After compiling, run **sudo ./sysdig** and report the following error:
[code]

[2019-05-28 08:35] #1416 closed

[2019-05-28 08:39] 18823832169 commented on #1416
This should be a segmentation error caused by my source installation conflict with the source installation. I tried to uninstall the version installed from the source. It has a new problem. I wrote this issue in another issue. see #1423

[2019-05-28 19:28] fntlnz commented on #1421
@gnosek is your suggestion that what @kristopolous described could be integrated with USDT to make the "system debugger" better at understanding what is the actual path to follow to debug a given feature.

Also, interpreted programming runtimes like Node have built-in systemtap definitions to make even easier to do this kind of thing.. -> https://github.com/nodejs/node/blob/master/src/node.stp

[2019-05-29 06:06] fntlnz commented on #1423
Hi @18823832169 can you give some more info? What is the OS you are on, which kernel version, do you have the kernel headers package installed for your distro?

[2019-05-29 09:51] 18823832169 commented on #1423
I have found the problem, I did not continue after executing **make install**, I also need to use **insmod** to load the _sysdig-probe.ko_ file in order to run normally.

[2019-05-29 09:51] #1423 closed

[2019-06-03 18:31] fntlnz opened #1429 "Module not built for newer amazon linux AMIs"
@prsimoes on slack reported that he is not seeing the images for the eks amazon linux flavor on kernel `4.14.106-97.85.amzn2.x86_64`.

That image seems to have been around for at least 5 days now so it's strange that the kernel module is not listed in the bucket yet.

Bucket: https://s3.amazonaws.com/download.draios.com/stable/sysdig-probe-binaries/index.html

[2019-06-03 18:47] fntlnz commented on #1429
Errata: I see the modules, the page didn't load completely before, maybe @prsimoes you are on an older Falco version like 0.14.0 ?

<a href="falco-probe-0.15.0-x86_64-4.14.106-97.85.amzn2.x86_64-a7281d2454de7f0821a9f5b26148085e.ko">falco-probe-0.15.0-x86_64-4.14.106-97.85.amzn2.x86_64-a7281d2454de7f0821a9f5b26148085e.ko</a> 13-May-2019 23:49  700K
 35 9250k   35 3284k    0     0  2484k      0  0:0

[2019-06-03 18:50] Issif commented on #1429
I confirme the modules for falco 0.15 et sysdig 0.25/6 are in s3 bucket :

[code]

[2019-06-03 18:52] fntlnz commented on #1429
Ok @prsimoes reported that he is using Falco 0.14.0 and so the module was missing for that version, I'm closing this, will open an issue on Falco to discuss about this.

[2019-06-03 18:53] #1429 closed

[2019-06-05 06:39] adrianlzt commented on #867
Same error capturing with kubectl-capture

[2019-06-12 12:10] aishvaryaps commented on #867
when I run following command:
 sysdig -r capture-reviews.scap

I get following error:

res = 1
event block length 17835928 greater than read buffer size 65536

capture file generated by kubectl-capture. kubectl version "v1.12.0"
other capture files generated by sysdig SaaS version runs fine on sysdig and sysdig inspect

[2019-06-13 11:33] aishvaryaps opened #1439 "kubernetes pod for sysdig in crashloopbackoff"
I am trying to create Kubernetes pod with docker image:
sysdig/sysdig
from https://hub.docker.com/r/sysdig/sysdig/

my pod configuration is as follows:

kind: Pod
apiVersion: v1
metadata:
  name: sysdig-pod
  labels:
    app: sysdig-pod
spec:
  containers:
    - name: sysdig
      image: sysdig/sysdig:latest

When I run the above yaml file with kubectl create command my pod goes in crashloop and I

[2019-06-18 18:48] slmingol opened #1442 "Allow dragent to emit structured logs (JSON) so that they can be shipped to services such as Elasticsearch"
Raised issue with sysdig. We noticed this option to `sysdig` CLI - https://github.com/draios/sysdig/wiki/Sysdig-Quick-Reference-Guide.

[code]

This option doesn't appear to be available to dragent. I asked this question of support but don't see my RFE here in your issues.

![image](https://user-images.githubusercontent.com/15072/59710905-fa02e280-91d7-11e9-8c7b-f1b55eb95652.png)

[2019-06-19 22:16] guyharris opened #1444 "Please don't use a minor version number of 2 in pcapng files"
Currently, `sysdig/userspace/libscap/scap_savefile.h` has:

    // Major version of the file format supported by this library.
    // Must be increased only when if the new version of the software
    // is not able anymore to read older captures
    #define CURRENT_MAJOR_VERSION   1
    // Minor version of the file format supported by this library.
    // Must be increased every time we change th

[2019-06-21 11:20] farconada opened #1445 "sysdig segfaults on CentOS 7"
I cant run sysdig on centos7, I have other centos 7 and sysdig works. How can I troubleshot this issue ?

[code]

[2019-06-25 09:31] HarinadhD opened #1447 "building bundled grpc: what if using system zlib, openssl, protobuf and cares?"
what changes should i make in CMakeList.txt to build bundled grpc with system zlib, openssl,protobuf and c-ares?

[2019-06-25 20:10] dt-rush commented on #1138
Is the agent closed source...?

[2019-06-27 04:41] fang19911030 opened #1448 "For system call prctl, evt.args and evt.arg[1] does not work"
I tried to use sysdig capture events about the name changes of process. %evt.args doesn't give any info, evt.arg[1] returns value 157. I don't understand the meaning of this value(157)

[2019-07-03 18:52] harrysx opened #1450 "Cannot upgrade sysdig on macOS using brew"
$ brew upgrade sysdig
Error: sysdig 0.24.2 already installed

However, latest release is 0.26.1

[2019-07-04 14:49] phill0452 opened #1451 "Secure Boot"
Hi guys,

More of a question than an issue. We are using sysdig to gather account information associated with changes activity. We found on some Oracle 4.1.12-124.24.3.el6uek.x86_64 systems that sysdig would not load.

$ sudo sysdig | more
error opening device /dev/sysdig0. Make sure you have root credentials and that the sysdig-probe module is loaded.

Further review showed
$ sudo sysdig-probe-lo

[2019-07-10 08:30] fntlnz commented on #1420
This should've been fixed by https://github.com/draios/sysdig/pull/1441

Can you confirm @abucodonosor ?

[2019-07-12 19:09] thesrinivas commented on #1221
We're seeing this issue. Can someone please comment if there is a fix for this issue?

[2019-07-12 19:15] gitdhar commented on #1221
We're seeing this issue too. No containers involved. Can anyone please respond if there is a fix?

[2019-07-12 19:24] lingfennan commented on #1221
The sysdig folks are active on slack channel. I reached out to them and they mentioned that there is no solution. But they suggested workaround: always restart and if you are logging to file, log to filenames with timestamps to avoid override. Hope this helps! I listed my `docker-compose.yml` for reference.

[code]

[2019-07-12 19:25] lingfennan commented on #1221
I am closing the issue since it's kind of resolved.

[2019-07-12 19:25] #1221 closed

[2019-07-12 19:57] charles-dyfis-net commented on #1451
Your problem has nothing to do with secure boot itself -- secure boot is used for the EFI bootloader to verify the kernel. `sysdig-probe-loader` happens long, long after the kernel is already loaded.

Where it presumably ties into your problem, however, is that when built with `EFI_SECURE_BOOT_SIG_ENFORCE`, Linux only loads signed kernel modules if-and-only-if it was booted with Secure Boot. That'

[2019-07-12 20:22] charles-dyfis-net opened #1454 "Null pointer dereference in record_event_consumer.part.4 on kernel 4.19.55"
Seen with sysdig 0.26.1:

[code]

This happens quite consistently on starting a trace.

- Issue WAS NOT observed with sysdig version 0.24.2 and kernel 4.19.9.
- Issue HAS BEEN observed with sysdig 0.24.2 and kernel 4.19.55.
- Issue HAS BEEN observed with sysdig 0.26.1 and kernel 4.19.55.

[2019-07-16 09:27] HugoRh commented on #1445
Hi,

I would like to report the very same issue on RHEL 7.5 ( It might be for the same reason).
Any idea how to fix this one??

[2019-07-16 20:21] charles-dyfis-net commented on #1454
Stopped using `make driver` in favor of spawning the build more directly from the kernel tree (the same way dkms does), and this issue ceased being reproducible.

Would rather have a firm idea of the chain of events that triggered it, but... *shrug*.

[2019-07-16 21:11] charles-dyfis-net commented on #1454
Closed too early; still getting crashes, albeit now only under load(?).

[code]

[2019-07-17 09:27] kxjhwbb opened #1455 "Any way to log the failed http request?"
I want to trace some http log with out response
i try  sysdig -c httplog
and sysdig -s2000 -A -c echo_fds blablabla
but only can log the http with response

how to log the http request? thank you~

[2019-07-18 17:44] bertocci commented on #1454
Thanks for filing this. I've been able to repro the panic, both in 4.19.55 and with 5.1.17-300.fc30. I also noticed that it happened more easily under load. I'm able to repro it fairly reliably by starting a capture and then pulling/running a big docker image.

I'm digging into the kdump, and I'll update this once I know more.

[2019-07-24 14:12] budenny opened #1459 "Kernel panic during processing signals on AWS ECS"
Don't know how to obtain panic logs from unresponsive instance, so will describe how to reproduce.

1. Create ECS EC2 based instance(t2.micro in my case).
`uname -a
Linux ip-10-0-1-102 4.14.128-87.105.amzn1.x86_64 #1 SMP Thu Jun 20 00:43:44 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux`
**The issue doesn't happen on ordinary EC2 instance only on ECS EC2-based.**
2. run sysdig under load or just don't pr

[2019-07-24 15:57] leodido commented on #1459
This seems to happen because `get_signal` passes a NULL pointer to the tracer function when another process is terminated (eg., `sleep 10 & (killall -9 sleep)`).

But AFAIK this only happens for newer (>=5.1.8) kernels (https://elixir.bootlin.com/linux/v5.1.8/source/kernel/signal.c#L2444).

Anyway it is better to check if the pointer passed by `get_signal` is NULL prior to accessing elements (asse

[2019-07-24 19:32] bertocci commented on #1459
Nice analysis, @budenny and @leodido! `event_datap->event_info.signal_data.info` is null when the signal is sent with SEND_SIG_NOINFO, so we'll never have an spid for those events. The workaround patch fixes most of the issues, but it's still possible to have problems in `f_sys_signaldeliver_e()`. Generally that would manifest as bogus spid values in the scap file, but I think it could cause a cra

[2019-07-24 19:32] #1459 closed

[2019-07-24 23:31] byrdog55 commented on #867
I am also having this problem with kubectl version "v1.12.8-gke.10" . Does anyone have a work around?

[2019-07-29 16:52] #1454 closed

[2019-07-29 18:38] davideschiera opened #1461 "Unable to open capture containing the container event `exec_die` with Sysdig Inspect chisel"
See https://github.com/draios/sysdig-inspect/issues/60. This issue refers to the error triggered by [`wsysdig_summary.lua`](draios/sysdig:userspace/sysdig/chisels/wsysdig_summary.lua@94ca286).

[2019-08-03 14:45] necsf opened #1467 "Unable to load the driver error creating the process list. Make sure you have root credentials."
I used the official image directly and ran docker according to the command they provided.But something went wrong, and I didn't know how to fix it. I tried some ways to solve the problem, but nothing worked.
`root@043b79774c90:/# sysdig`
`
Unable to load the driver
error creating the process list. Make sure you have root credentials.
`

`root@043b79774c90:/#dkms sysdig status`
`sysdig, 0.26.1, 4.1

[2019-08-06 11:28] fntlnz opened #1468 "Syscalls with custom fillers are not "filled" by the kernel module"
# tl;dr

On kernel `5.1.4-arch1-1-ARCH` with sysdig commit from dev `92622e3e2a33d5f0f5b2b84d1abd95211d1e67d8`, when using the kernel module, all the syscalls with a filler as defined [here](
https://github.com/draios/sysdig/blob/dev/driver/ppm_fillers.h#L110) do not get the information filled.

When using the BPF probe everything works just fine.

# Examples
Here are a couple of examples with fil

[2019-08-06 14:30] fntlnz commented on #1468
Update, just tested this on a machine with an older kernel and works as expected:

[code]

Kernel info

[code]

[2019-08-07 10:46] fntlnz commented on #1468
Debugged this a bit, it looks like that [ppm_copy_from_user](https://github.com/draios/sysdig/blob/55b1cc826b540292e5e9bd930b2e1c2c7a750af5/driver/ppm_events.c#L92) returns `16` while doing `__copy_from_user_inatomic` by calling `raw_copy_from_user`

However `raw_copy_from_user` didn't change between the two reported versions, it actually didn't change in the [past two years](https://github.com/to

[2019-08-07 11:04] fntlnz commented on #1468
Update: It happens everytime `val_to_ring` is called with `is_user` true.

[2019-08-09 05:57] kris-nova opened #1474 "cannot find -lonig"
While building from source I get the following error.

[code]

[2019-08-09 06:29] kris-nova commented on #1474
Running on ArchLinux

The compiler was complaining because it couldn't find a library.

I checked `/usr/lib` and sure enough there was no `libonig.so`

Looks like`sysdig` depends on `jq` which depends on a regex library called `oniguruma` [link](https://security.archlinux.org/package/oniguruma)

I installed `onigurama` and that got the job done.

Do we have have a way to check for this in the buil

[2019-08-09 06:29] #1474 closed

[2019-08-09 11:08] ig0rsky opened #1475 "Immediate segfaults on Debian Stretch / Buster"
Stacktrace:

[code]
Module:  sysdig
Version: 0.26.1
Kernel:  4.9.0-8-amd64 (x86_64)

Tested with debian stretch and buster and used automatic installer in both cases. Getting segfault almost immediately after starting sysdig on the command line. Same thing is happening with csysdig as well.

The segfaults do not happen if I write to a file. I think it has to do with not being able to write fast en

[2019-08-13 02:40] krisnova opened #1478 "Building the BPF program manually results in an error"
From `sysdig/build`

Running the commnad `make bpf` results in the following error

[code]

It looks like the `driver_config.h.in` in `sysdig/driver` wasn't being expanded

I dropped a valid header file in the directory just for grins, and was able to successfully run the `make bpf` target.

I have a feeling I am missing something - but here is some documentation if anyone else runs into this issu

[2019-08-15 15:02] nathan-b commented on #1467
Hi @necsf. Thanks for your bug report! Can we get some more information?

* What distribution and version (if applicable) are you running?
* You mentioned that you ran docker according to the command provided. Can you give us that command you used?
* How did you install sysdig?

Thanks again!

[2019-08-17 15:40] fntlnz commented on #1475
Hi @ig0rsky I have a doubt, did you build Sysdig yourself or it's installed from a distributed package/binary ?

Can you post a crash dump? It could be helpful to analyze the situation with gdb

[2019-08-19 05:40] ig0rsky commented on #1475
Hey @fntlnz, I haven't built the system myself. I installed using the automatic installer.

[2019-08-19 13:01] tahsinrahman opened #1489 "`kprobe` programs compared to `raw_syscall` type bpf program"
Hi, i'm new to ebpf and exploring how sysdig is using bpf. Sysdig is using `raw_tracepoint` type bpf programs to collect arguments and return values of different syscall functions. My understanding is, `raw_tracepoint` programs are faster because we can skip argument processing and get raw access to the arguments.

We can also collect these data using `kprobe` and `kretprobe`. My understanding is,

[2019-08-26 16:40] jcdutton opened #1495 "read() exit not registered for NVME storage device"
When accessing the SSD, It correctly gets read() entry and exit events.
When accessing the NVME. Only the read() entry is registered. Not the read() exit.
Tests failed with kernel 5.2.9 and 5.3.0-rc6
sysdig dev branch from git commit fd30d120651166c7efffd826769881988a41b7e8

[2019-09-02 02:01] FeiJun-wu opened #1498 "Computer crash"
I used the sysdig process and found that after running for a while, to start another process, there will be an accidental crash, and it is easy to reproduce. Why?

os: Ubuntu18.04 TLS

[2019-09-02 03:16] #1498 closed

[2019-09-04 12:09] livelace commented on #1467
Got the same problem under 4.19.67 (gentoo). Sysdig version is 0.26.4.

[2019-09-04 12:11] livelace commented on #1467
Found this one https://github.com/draios/sysdig/issues/820

[code]

[2019-09-04 12:12] livelace commented on #1467
I run sysdig just as a regular command, without any container technology.

[2019-09-04 13:38] necsf commented on #1467
I am so sorry for replying to your message so late.
I run this command. `docker run -i -t --name sysdig --privileged -v /var/run/docker.sock:/host/var/run/docker.sock -v /dev:/host/dev -v /proc:/host/proc:ro -v /boot:/host/boot:ro -v /lib/modules:/host/lib/modules:ro -v /usr:/host/usr:ro sysdig/sysdig`
But when I used another Ubuntu virtual machine, this command successfully created a sysdig conta

[2019-09-04 23:42] krisnova opened #1499 "Consider moving `libscap` and `libsinsp` out of sysdig"
Right now these libraries are very powerful but are hard to vendor and propose changes to without getting the `sysdig` CLI tool involved. By having independent versions of the libraries in independent libraries we could easily vendor them to our liking independently.

Just a thought, as we look at how we vendor them in Falco, we are subject to having to define the `sysdig` directory instead of ven

[2019-09-10 06:45] necsf commented on #1475
I also encountered the same problem, do not know how to solve this problem
[code]

[2019-09-23 12:27] ketank-new opened #1506 "test"
test123

[2019-09-23 12:31] ketank-new commented on #1506
type1

[2019-09-23 12:31] ketank-new commented on #1506
type2

[2019-09-23 18:00] gnosek commented on #1475
@ig0rsky, @necsf, can you share some details about your setup? How big is your machine? What was the workload that you were running that made sysdig crash? How did you run sysdig?

[2019-09-25 10:17] youhangwang opened #1507 "How to integrate the open source sysdig chisels into sysdig cloud agent"
Hi,
Can I install both open source sysdig agent and sysdig cloud agent into one k8s node?

I got the following error when I install both of them, but no error only install one of them.
[code]

Thanks for your help!

-------------------------------------

Changed the title. I want to use the sysdig cloud but include some chisels that I have developed. Is there a way that I can use to do this only w

[2019-09-25 10:50] AkihiroSuda opened #1508 "feature request: inspect fd.name and fd.directory path in the initial mount namespace"
[The `Write below binary dir` rule of Falco](https://github.com/falcosecurity/falco/blob/0.17.0/rules/falco_rules.yaml#L918) can't detect writes from containers (with bind-mounts), because `fd.directory` is resolved into a path in a mount namespace (container), not into the path in the initial mount namespace ("host").

It would be great if Falco/sysdig can also inspect the path in the initial mou

[2019-09-25 12:08] kris-nova commented on #1508
I think the keyword here is `also` .

In my mind we want to keep the inspection in the `unshare`d namespace in the container, while also inspecting the original mount namespace on the host. I *think* we should be able to do both. We just need a way of separating the two elements.

I also think this same pattern could be repeated for other namespaces.

---

If I was to look at making a PR, I would

[2019-09-25 12:52] gnosek commented on #1508
We can't just make fd.name and fd.directory contain init-ns paths for two reasons:
- compatibility
- there might not be a path in the init ns at all (a filesystem may have been mounted directly in the child namespace)

Having said that, if there is a corresponding init ns path, we should be able to get it based on /proc/pid/mountinfo contents in both namespaces. It may be tricky to get right (ther

[2019-09-25 13:22] fntlnz commented on #1508
When it's about executing and not writing to those binaries like the rule that @AkihiroSuda posted we also have the same kind of issue when dealing with symlinks.

[2019-10-22 12:29] #1506 closed

[2019-10-24 18:14] hgokavarapuz opened #1526 "Unable to load sysdig on Ubuntu 16.04"
I installed sysdig my AWS  Ubuntu 16.04 AMI and it works then but when I create an instance with that AMI sysdig doesn't work.

**OS:** Ubuntu 16.04
**Sysdig version:** 0.26.4

**Steps to install sysdig followed:**
[code]

**Error**
[code]

I checked the dmesg to understand the issue better and saw the following error message there.

[code]
Please let me know how to fix this.

[2019-10-24 23:57] lorenzo-david opened #1527 "OSS Sysdig SIGSEGV at startup on sinsp::next(sinsp_evt**)"
I compiled my own sysdig from dev (set to https://github.com/draios/sysdig/commit/35b97c4f0da05713e05b871b3abbf7a71ed54553).

I've been trying to run it on a aws ec2 instance (m5.4xlarge):
[code]

Very frequently(about 3 times out of 4), Sysdig immediately crashes.

Here's the relevant stack straces from running gdb:
[code]

Note that I've compiled it using frame pointers.
[code]

[2019-10-25 00:17] ldegio commented on #1527
most of the times, these kinds of crashes happen when sysdig and the driver have mismatching versions. Is it possible that you are running an older driver?

[2019-10-25 00:58] lorenzo-david commented on #1527
Just double-checked. I did:
[code]
Looks like I'm runinng consistently the right userspace/kmodule.

[2019-10-26 04:20] stonith opened #1529 "Segmentation fault when running with Datadog Network Monitoring"
Getting `Segmentation fault (core dumped)` after running sysdig. It runs briefly with some output but then crashes.

Running it with: `docker run -it --name sysdig --privileged --net=host -v /var/run/docker.sock:/host/var/run/docker.sock -v /dev:/host/dev -v /proc:/host/proc:ro -v /boot:/host/boot:ro -v /lib/modules:/host/lib/modules:ro -v /usr:/host/usr:ro -v /etc:/host/etc:ro -e SYSDIG_BPF_PROBE

[2019-10-27 06:29] daviddetorres opened #1530 "Hash of the content of the capture in order to maintain the chain of custody in forensics"
While using the sysdig capture files for forensics (specially when the capture will be used as evidence in a trial) it can be interesting to add a way to certify that the content of the file did not change or was not forged in order to maintain the chain of custody.

Adding an option to include at the end of the capture a MD5 (or another hash method) of the rest of the file, could be a way to chec

[2019-10-29 09:38] #1439 closed

[2019-10-31 16:22] mstemm commented on #1499
I'm not sure I understand the goal of separating the sysdig libraries and programs. These two libraries are the bulk of the code in sysdig, and there would still be a very tight dependency between the sysdig programs and the libraries they utilize.

If you're trying to change the falco build process so sysdig can be downloaded and compiled like any other third-party package, that would be really e

[2019-10-31 16:32] bryanseay commented on #1499
@kris-nova Can you define `hard to vendor`?

Interface segregation would go a long way.

[2019-10-31 18:14] nathan-b commented on #1499
I think @mstemm 's suggestion gets us like 90% of the way there. We would love to define a cleaner api for `libscap` and `libsinsp`. It's great to have Falco as a consumer of these libraries because it prevents the heavy coupling between the library code and the sysdig command line tool that uses the libraries.

[2019-10-31 18:42] speedyguy17 commented on #1499
I'm on board with mark, that seems reasonable, as I have concerns about splitting the repos as is:

1) splitting repos incurs a very real cost. This cost would be most apparent to oss-sysdig developers, who now have to edit the library, and then go to the "sysdig" repo which effectively just holds a CLI tool. this change does nothing for them other than make their lives more difficult. Their quest

[2019-10-31 18:50] adalton commented on #1499
I also agree with @mstemm.  The `sysdig` tool is, in some ways, the reference implementation of a client of `libsinsp`.  I don't see a lot of value is separating that reference implementation from the library.

[2019-10-31 19:32] adalton commented on #1499
One question that might help us decide is "How often do we modify `libsinsp` in a way that changes the API boundary between `sysdig` and the library?"  If the answer to that is "not often", then separating them might not be so bad.

[2019-11-01 07:26] davidreuss commented on #1529
We see the same thing on our vms in AWS,

[code]

Looking in dmesg afterwards...

[code]

🐼

[2019-11-01 17:16] nathan-b commented on #1529
That's interesting @davidreuss . I've been trying to reproduce this issue and even though I'm on what looks like nearly the same node that you are
[code]
I can't make it happen...Still looking

[2019-11-04 18:29] nathan-b commented on #1527
Following up: I believe this is https://github.com/draios/sysdig/commit/4f8138feea1f2e0be33df158b22284ec97208cef (PR link: https://github.com/draios/sysdig/pull/1528), fixed in dev. @lorenzo-david, can you confirm that with this fix it doesn't crash?

[2019-11-04 18:32] lorenzo-david commented on #1527
Yes. I confirm I don't see the crash anymore after https://github.com/draios/sysdig/commit/4f8138feea1f2e0be33df158b22284ec97208cef.

[2019-11-04 18:32] #1527 closed

[2019-11-04 19:02] gnosek opened #1536 "Remove CRI-related globals"
We want to get rid of the `s_cri_*` globals but we need a way to get "the" CRI interface (or more precisely, "the" CRI runtime type).

See https://github.com/draios/sysdig/pull/1535 for context

[2019-11-05 07:33] YLonely opened #1537 "procexit event lost when using fd.name or fd.type"
i am using sysdig to capture the event of containers, when i use format args without fd.name and fd.type, sysdig can capture the procexit event came out from a container just like below:
`
{"container.id":"78f3b86e006f","container.name":"infallible_murdock","evt.cpu":1,"evt.dir":">","evt.info":"status=0","evt.is_io_read":false,"evt.is_io_write":false,"evt.latency":0,"evt.num":778875,"evt.outputtim

[2019-11-05 07:49] YLonely commented on #1537
well, solved it, add a "*" at the begining of the format string. "*%evt.type %evt.cpu" for example

[2019-11-05 07:49] #1537 closed

[2019-11-05 20:42] stonith commented on #1529
Took some time to try 3 different cos images this morning and none of them crashed.

[2019-11-06 15:11] shirodkara opened #1540 "sysdig_trace_regression.sh does not execute as expected"
sysdig/test/sysdig_trace_regression.sh does not test sysdig functionality.

In the travis job https://travis-ci.com/draios/sysdig/jobs/252766092 the script skips over the test cases with "Reference directory /tmp/sysdig.WtD1rNPQYi/* does not exist--skipping directory entirely"
In case this is not the test/validate script, how do we test/validate sysdig built from source ?

[2019-11-06 16:27] dnwe commented on #1475
I was hitting a similar problem on a k8s worker with the pre-built sysdig 0.26.4 .deb on Ubuntu 18.04 (bionic) so I compiled my own debug release from the tag in git to try and get a full stacktrace that might help.

Here's the segfault and full backtrace after just running `gdb --args /usr/bin/sysdig`

[code]

[2019-11-07 22:11] dnwe commented on #1475
@fntlnz FYI: I don't appear to be able to produce this with a package built off current master (586e8fc) so it seems like this issue has been fixed as a result of one or other of those [changes](https://github.com/draios/sysdig/compare/0.26.4...586e8fc)

[2019-11-12 21:27] krisnova opened #1542 "Remove references to Falco"
Can we rename some parts of the code for architectural vanity please?

This was started https://github.com/draios/sysdig/pull/1532 but we can still see [some Falco references](https://github.com/falcosecurity/falco/search?utf8=%E2%9C%93&q=sysdig&type=) slipped through.

[2019-11-20 08:39] FeiJun-wu commented on #1090
I also encountered the same problem. Is there a solution?

[2019-11-20 18:09] stonith commented on #1529
We have Datadog Network Performance Monitoring enabled https://github.com/DataDog/datadog-agent/blob/master/pkg/config/config_template.yaml#L616 which seems to be conflicting with Sysdig and causing the crash.

[2019-11-20 18:30] nathan-b commented on #1529
Thanks for digging into this @stonith! No answers yet, but I'll do some digging...

[2019-11-20 20:20] nathan-b commented on #1529
@stonith : can you post your config (or preferably a minimal config which reproduces the problem)? Thanks!

[2019-11-20 20:23] davidreuss commented on #1529
fyi, we are in the same situation — datadog with network perf monitoring enabled as well .. so might be on to something ..

[2019-11-21 02:05] stonith commented on #1529
@nathan-b I tried testing on a brand new cluster and wasn't able to consistently reproduce the crashes. However, I did ocassionally. It our prod clusters just running `sysdig` will crash quite fast. However, running something like `sysdig proc.name=kubelet` may crash a few times and then may work. Removing datadog fixes however. I don't have much time right now to dig further unfortunately.

[2019-11-21 06:40] shirodkara commented on #1540
Hi,
Just a gentle reminder if anyone has any idea about this, or if there is another forum i can ask about this.
Thanks .

[2019-11-21 22:51] stonith commented on #1529
It's possible that we're actually running into https://github.com/draios/sysdig/issues/1475

[2019-11-22 15:29] nathan-b commented on #1475
@gnosek do you think this could be https://github.com/draios/sysdig/pull/1528?

[2019-11-25 10:14] dnwe commented on #1475
@nathan-b thanks for the hint — it looks like I can cleanly apply [1528.patch](https://patch-diff.githubusercontent.com/raw/draios/sysdig/pull/1528.patch) on top of 0.26.4, so I'll build and test that now

[2019-11-25 11:35] dnwe commented on #1475
@nathan-b I can confirm that if I build my own "0.26.5" by taking https://github.com/draios/sysdig/archive/0.26.4.tar.gz and applying [1528.patch](https://patch-diff.githubusercontent.com/raw/draios/sysdig/pull/1528.patch) over the top then the segfault issue is fixed for me and sysdig runs smoothly

Is this something that could be put out as an official release with a cherry-pick onto a release b

[2019-11-26 16:15] nathan-b commented on #1475
Thanks for doing the test! That may be something we can do. I'll check.

[2019-12-03 09:34] youhangwang opened #1550 "get return code"
Hi,

Is there any way that I can use to get the shell return code?
I try to use %evt.rawres %evt.res %evt.failed %evt.arg[0] %evt.rawarg.res and evt.count.errors in chisels, but it doesn't work.

for example, when I type rm <dir> in the terminal(it should be failed due to miss option -r), sysdig didn't catch this error

[2019-12-04 13:43] poovannan89 opened #1551 "404 from Debian repo for ppc64el"
I have the below entry in /etc/apt/sources.list.d/draios.list :
deb http://download.draios.com/stable/deb stable-$(ARCH)/

My environment is ppc64el.

The curl request for ppc64el is failing as 404.
curl http://download.draios.com/stable/deb/stable-ppc64el/Packages
<html>
<head><title>404 Not Found</title></head>
<body>
<h1>404 Not Found</h1>
<ul>
<li>Code: NoSuchKey</li>
<li>Message: The specifie

[2019-12-10 11:00] dnwe commented on #1475
@nathan-b any update on a new release version?

[2019-12-10 12:33] #1467 closed

[2019-12-10 15:23] nathan-b commented on #1475
Sorry for the delay. We are working on it, I promise. I can't give an ETA at this time but it is in progress.

[2019-12-10 19:55] radhikapc opened #1559 "Broken Link at https://github.com/draios/sysdig/wiki/Csysdig-Overview"
The Install Sysdig link leads to an empty page.

[2019-12-13 13:41] dnwe commented on #1475
@nathan-b 🎉 thank you

https://github.com/draios/sysdig/releases/tag/0.26.5

[2019-12-20 16:06] piso77 opened #1570 "0.24.x: %evt.info format has changed / missing file name"
0.19.x:
[code]

0.24.x:
[code]
not sure when the format changed, but how do i get back the filename information with newer releases?

[2019-12-20 16:34] adalton commented on #1570
Hi Paolo.  I just tried your use case using sysdig version 0.26.4, and I don't observe the problem you're seeing:

[code]

Can you retry your test case a newer version of sysdig?

[2019-12-20 17:09] piso77 commented on #1570
# sysdig --version
sysdig version 0.26.4

# sysdig -p"%evt.info" proc.name=dd &

# dd if=/dev/zero bs=1024 count=5 > /dev/null
...
fd=0(<f>/dev/pts/1) size=1024
res=1024 data=
fd=1(<f>/dev/pts/1) size=1024
fd=0(<f>/dev/pts/1) size=1024
fd=1(<f>/dev/pts/1) size=1024
fd=0(<f>/dev/pts/1) size=1024
fd=1(<f>/dev/pts/1) size=1024
fd=0(<f>/dev/pts/1) size=1024
fd=1(<f>/dev/pts/1) size=1024
fd=0(<f>/dev/p

[2019-12-22 20:15] Changzhu1997 opened #1571 "Sysdig for Domain name"
While using sysdig to collect data about domain name( sysdig -p "%fd.sip.name"), it did not show anything, but it can show the ip address (sysdig -p "%fd.sip").
I have updated sysdig to 0.26. Does this version support fd.sip.name ?

[2019-12-23 10:50] q2dg commented on #81
Same question three years later...
Thanks!!

[2019-12-25 20:31] dnwe commented on #1475
@ig0rsky still no .deb at http://download.draios.com/stable/deb/stable-amd64/Packages yet

[2019-12-26 01:27] q2dg commented on #1570
I don't know if my issue is related to this one or not (if it's not, I apologize) but I've noticed that when I execute this command (with 0.26.4 version too)...

_sysdig -p "*File: %fd.name" evt.type=openat_

...what I get is this output:

_File: <NA>
File: <NA>
..._

Even if I do something explicit like _cat /etc/fstab_ or similar.

[2020-01-02 06:23] ghatwala opened #1573 "sysdig chisels of IO category- "fdcount_by" fails"
I have built sysdig from source on my platform and when tried to running few example commands as given here - https://github.com/draios/sysdig/wiki/Sysdig-Examples , all the commands listed here work for me except below, it seems to be thrown up from here from chisel api - https://github.com/draios/sysdig/blob/dev/userspace/libsinsp/chisel_api.cpp#L343 and am reading more about this in here too -

[2020-01-02 20:09] mojoa opened #1575 "AWS EC2 Ubuntu version update"
AWS EC2 Ubuntu image sysdig is outdated and update instructions do not provide latest stable version of sysdig.
AWS EC2 sysdig --version is 0.19.1. And frequently crashes the instance.
Current update instructions do not update to latest stable version (26.4):
https://github.com/draios/sysdig/wiki/How-to-Install-Sysdig-for-Linux

[2020-01-03 15:34] mojoa commented on #1575
Someone is working on this. Thanks!
1 package can be updated.
Unpacking sysdig (0.26.4) over (0.19.1-1ubuntu1.1) ...
Setting up sysdig (0.26.4) ...
# sysdig --version
sysdig version 0.26.4

[2020-01-07 22:28] UTDEngineer commented on #1571
![image](https://user-images.githubusercontent.com/58642588/71934714-ab646800-316a-11ea-832d-b5b13e54c68a.png)
Sample test for this issue. I hope i can get more information about this one.

[2020-01-09 11:05] huanwei commented on #1573
It works in my environment:
[code]
version of sysdig:
[code]

[2020-01-09 11:43] ghatwala commented on #1573
@huanwei  - Thanks for the validation.
My above failures were on `ppc64le`  platform , whereas on Intel (`x86_64`)  have noticed that the failures do happen but with different flag options ..

**On intel**
[code]

**On Power**
[code]

Sysdig was built from source on both ..
**On intel**
[code]
**On power**
[code]

So the conclusion is that the filter flag key value fails on both `x86_64` and `ppc6

[2020-01-13 16:07] JamesBlandford opened #1579 "URL "https://sysdig.org" is just an adware page now"
The "official" website now redirects multiple times and lands on advertising spam

[2020-01-15 15:13] nathan-b commented on #1551
Hi, sorry for the long delay in answering your question. We don't currently have a PPC build of sysdig.

Did this used to work for you?

[2020-01-15 15:28] nathan-b commented on #81
If you are in an environment where custom kernel modules are difficult to load, you can try running with eBPF: https://github.com/draios/sysdig/wiki/eBPF

[2020-01-15 15:31] nathan-b commented on #1575
Hi @mojoa . Is your problem sorted (for now, at least)?

[2020-01-15 15:33] nathan-b commented on #1579
Thanks for reporting this. Looking into it...

[2020-01-16 01:05] mojoa commented on #1575
Yes, thanks!

[2020-01-16 01:05] #1575 closed

[2020-01-18 17:43] ffledgling commented on #1579
Seconded, please fix this.

[2020-01-19 11:28] dsever commented on #1579
Have the same problem here, and it is blocked by FW

[2020-01-19 14:46] dsever opened #1581 "K8S deployment/damonset"
Hi,

For research purposes, I would like to export syscalls from K8s cluster (I don't need full falco, only basic syscalls), I saw In past there was some tries, but in repo can't find anything useful for k8s, so if anyone done it so far please can you share some detail with me.

Dubravko

[2020-01-22 10:58] pawelprazak commented on #1581
this might be of interest to you, I needed to run sysdig as a DaemonSet on k8s some time ago, not that the nodes might require additional packages, like kernel headers
https://github.com/VirtusLab/ergaleia

[2020-01-22 11:10] budenny opened #1584 "sysdig-probe event drops on Ubuntu 18.04.3 LTS with 0.26.4.x"
There were ubuntu 18.04 LTS update last week which brought  **linux-image-5.3.0-26-generic:amd64** to the system. sysdig-probe reports event drops since that time. It happens both for official sysdig/sysdig docker image and ubuntu deb package.

**The issue solves with sysdig-probe 0.26.5 built from github sources.**

Unfortunately, there are no officially published neither sysdig/sysdig docker ima

[2020-01-22 18:17] bertocci commented on #1584
0.26.5 is marked as a pre-release. We're working on getting the release out, at which point we'll deploy the docker image for that version.

[2020-01-22 18:17] #1584 closed

[2020-01-23 18:17] nathan-b commented on #1475
I don't know what's going on with the 0.26.5 release. I'll try to chase it down for you guys. Sorry for the long delay.

[2020-01-23 21:33] jfreeland commented on #1475
I was just trying to play with kubectl-capture on a generic gke node and I'm running into the same issue.  It looks like https://hub.docker.com/r/sysdig/sysdig could use a new version too.

[2020-02-07 05:29] necsf opened #1589 "How does sysdig update to version 0.26.5 in docker"
The current version is 0.26.4

[2020-02-11 00:52] kosnet2 commented on #346
Hello,

I am trying to use this chisel to monitor a specific process (i.e. firefox) on a _Ubuntu 18.04 LTS Linux Virtual Machine_. The command I use for this task is `sudo sysdig -c topprocs_cpu proc.name=firefox`.

For some reason I get CPU usage percentage values greater than 100 (i.e. 150, 435234, etc..) which does not really make sense (at least to me).
![image](https://user-images.githubuserc

[2020-02-11 08:08] jcdauchy-moodys commented on #1445
Same issue with CentOS Linux release 7.7.1908 (Core) :
uname -a
Linux  3.10.0-1062.9.1.el7.x86_6

[2020-02-12 18:40] nathan-b commented on #1559
I believe this is fixed now. Please verify.

[2020-02-12 22:28] twmattyoung opened #1592 "Centos repo stable build is not available"
Base on "How to install sysdig on Linux", I follow
rpm --import https://s3.amazonaws.com/download.draios.com/DRAIOS-GPG-KEY.public
curl -s -o /etc/yum.repos.d/draios.repo https://s3.amazonaws.com/download.draios.com/stable/rpm/draios.repo
yum install sysdig

but the install timeout because the link in draios.repo is not available and always timeout.

[2020-02-12 23:36] #1592 closed

[2020-02-12 23:37] twmattyoung commented on #1592
sorry, it is our mistake.

[2020-02-16 02:33] Changzhu1997 opened #1593 "fd.sip and fd.cip no longer useful for event like sendto, recvfrom"
I have noticed that fd.sip and fd.cip cannot be used in the format for events like sendto ,recvfrom. Strange thing is few weeks ago i had successfully use the sysdig to collect ip information. But now due to some unknown reason it is no longer useful.
Test script:  "evt.type=recvfrom or evt.type=sendto or evt.type=send or evt.type=recv or evt.type=sendmsg or t.type=recvmsg" -p "%proc.name %evt.typ

[2020-02-23 11:29] saiyam1814 opened #1594 "When Running as a kubernetes pod, Sysdig not Running or Not giving expected results"
I am trying to use Sysdig for a pecific purpose of spying users using the command sysdig -c spy_users.
Whn running as a docker container on a VM and them logging to the VM running commands, the docker logs will show the output instantly. Now I tried to run it as a kubernetes pod (Faced 2issues) on a VM and I use below Yaml file
[code]

**ISSUE 1: Now above will not run and go in crashloopbackoff a

[2020-02-24 03:53] saiyam1814 commented on #1581
Hi @pawelprazak I tried running ergaleia but when I run
`sysdig -c spy_user` it gives below error :
Unable to load the driver
error opening device /host/dev/sysdig0. Make sure you have root credentials and that the sysdig-probe module is loaded.

[2020-02-24 16:05] codingjin opened #1596 "sysdig logdata incomplete, when I specify the log information and output format"
According to the manual, I define my output format, and use the sysdig command in this way:
sysdig -p "%evt.num %evt.time name=%proc.name pid=%proc.pid <exe %proc.exe /exe> cwd=%proc.cwd dir=%evt.dir syscall=%syscall.type <args %evt.args/args> fd=%fd.num fd_type=%fd.type fd_name=%fd.name" -w log01

But I find the log is incomplete, like I cannot find the clone, syscall events, as I expected.
And I

[2020-02-29 06:31] saiyam1814 commented on #1594
UPDATE - I have resolved the issue with modification in the commands section by adding probe first and issue 2 also but using sysdig flags. I will be writing a blog post on this as well.

[2020-02-29 06:31] #1594 closed

[2020-03-03 14:47] ig0rsky commented on #1475
I recently tried out the kubectl-capture tool, ran into the same issue on an Ubuntu 16.04 node on AWS.
@nathan-b could you check again for a release where this is fixed?

[2020-03-03 19:01] nathan-b commented on #1475
OK, so apparently the release got halfway done and then stalled because an internal Jenkins process that's used to actually push the release doesn't work anymore. It stalled for an honestly ridiculously long amount of time for reasons I don't quite understand.

I've volunteered to take over the release, including fixing the busted process so future releases will go smoothly again. It's not the onl

[2020-03-03 23:27] nmingotti opened #1598 "Does not compile on BeagleBone Black"
Hi,

I am trying to compile **sysdig** on the BeagleBone Black since the Debian package is quite far from working.

My system is:
[code]

The error message I see I few hours after **make** starts is this:
[code]
Can you tell me how to fix it ? I would really like to try sysdig.

bye

[2020-03-04 19:42] #1559 closed

[2020-03-04 19:42] nathan-b commented on #1559
Pretty sure this is resolved.

[2020-03-05 17:23] Josh7GAS commented on #30
Im using in WSL

"uname -a" : Linux BR2L11792L 4.4.0-17763-Microsoft #864-Microsoft Thu Nov 07 15:22:00 PST 2019 x86_64 x86_64 x86_64 GNU/Linux

and still getting the error output from sysdig:

 "Unable to load the driver   error opening device /dev/sysdig0. Make sure you have root credentials and that the sysdig-probe module is loaded."

[2020-03-07 18:57] Changzhu1997 commented on #1596
Same problem happens to me. Strange thing is i used to collect some information, but now even though i did not change sysdig script, the log is incomplete.

[2020-03-10 20:13] nathan-b commented on #1475
Q: How many engineers does it take to fix one build script?
A: I don't know, but apparently more than three.

I'm still working on this. Some previous engineer had meticulously set up a very precise environment in which this script would run, and now that environment is no longer there. I'm working on containerizing this script so it can run on any machine with docker installed, so be patient a li

[2020-03-11 11:29] ig0rsky commented on #1475
@nathan-b a bit late to containerize your pipelines :), you would think that this has already been done, long ago. :)

[2020-03-11 13:25] nathan-b commented on #1475
Most of them are...I'm surprised this one isn't. According to git, this script was written `Fri Aug 1 15:08:34 2014 -0700` and has received little more than targeted fixes since then.

[2020-03-11 15:26] dsever commented on #1581
@pawelprazak

You are missing module, try to run sysdig-probe-loader

[2020-03-11 20:05] nathan-b commented on #1445
What version of sysdig are you running?

[2020-03-11 20:16] nathan-b commented on #1598
Hi @nmingotti. There's no formal ARM support, and I don't know if or when that will ever change. However, you're welcome to submit patches yourself so that it builds! We have recently begun building for ppc64 and s390x, so the dream of a cross-platform sysdig may not be as farfetched as it seems.

[2020-03-11 20:26] nathan-b commented on #30
Hi @Josh7GAS. The issue you have chimed in on has been closed for longer than WSL has existed :)

The sysdig tool does not formally support WSL. WSL2 runs a Linux kernel inside a virtual machine (available [here](https://github.com/microsoft/WSL2-Linux-Kernel)), so there's a possibility that sysdig might be able to run on top of WSL2 without too much major surgery, although it would come with the

[2020-03-11 20:31] nathan-b commented on #1542
It looks to me that the only references to falco are in the probe builder:

[code]

It looks like these are mostly vestigial. We can remove them if you so desire.

[2020-03-15 10:18] scrwr opened #1602 "Usage of filter breaks "on_interval" for chisels"
Once you add a filter, chisels "on_interval" is triggered with weird timings.

The following minimal chisel shows the effect.

[code]

Called without filter:
[code]

Called with filter:
[code]

### sysdig --version
sysdig version 0.26.4

### uname -a
Linux hostname 5.3.0-40-generic #32-Ubuntu SMP Fri Jan 31 20:24:34 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux

[2020-03-15 20:37] #390 closed

[2020-03-16 09:17] budenny opened #1603 ""renameat2" syscall support"
Some applications like "mv" on RHEL 8.1 are using renameat2 syscall for file rename operations. Sysdig driver doesn't provide information about this syscall.

RHEL8.1:

[user@localhost ~]$ sudo sysdig proc.name=mv | grep newname
...

[user@localhost ~]$ sudo strace mv oldname newname 2>&1 | grep rename
**renameat2**(AT_FDCWD, "oldname", AT_FDCWD, "newname", RENAME_NOREPLACE) = 0

Ubuntu 18.04:
sud

[2020-03-17 13:47] nathan-b commented on #1475
Still working on this...believe me; I want this done every bit as much as you want this done :)

[2020-03-17 13:55] ig0rsky commented on #1475
Needed to showcase this to our developers on a Kubernetes cluster (kubectl-capture plugin), currently looking at other solutions, like SystemTap or perf :). What sucks is that we're on  the Kernel v4.4 LTS and thus eEPF doesn't work, so I couldn't even test the --ebpf flag.

Otherwise, alerts-based Sysdig capture for later analysis using Sysdig Inspect would be an excellent overall open-source sol

[2020-03-18 18:14] fntlnz commented on #1420
This was definitely fixed

[2020-03-18 18:14] #1420 closed

[2020-03-22 17:28] chrahunt commented on #570
This was fixed in #720. Now we always output newline-delimited JSON objects.

[2020-03-22 17:56] chrahunt opened #1606 "Document behavior of leading asterisk/star in format string"
Currently, if the format string provided to sysdig (`-p`) references a field that does not exist in an event then that event is not printed.

If an asterisk is specified as the first character of the format string, then all events will be output even if they are missing a field specified in the format string. See, for example:

[code]

Notice that the first "enter" event doesn't have `evt.arg.flag

[2020-03-22 18:01] chrahunt commented on #1606
This was also described in [#345 (comment)](https://github.com/draios/sysdig/issues/345#issuecomment-88592998).

[2020-03-30 21:02] ig0rsky commented on #1475
@nathan-b 0.26.6 is released 🎉 :D Could you also make sure that the binaries are distributed onto Ubuntu/Debian as part of the pipeline?

[2020-03-31 07:01] gnosek commented on #1475
@ig0rsky I'm working on it, the binaries should be available today in our repositories. If you mean upstream Debian/Ubuntu, that's out of our control :)

[2020-03-31 10:22] ig0rsky commented on #1475
@gnosek nope, I meant the binaries for Ubuntu and Debian that's not upstream :)

[2020-03-31 10:22] #1475 closed

[2020-03-31 20:10] nathan-b commented on #1475
Finally we have the answer to the question I posed earlier: How many engineers does it take to fix one build script? One, so long as it's @gnosek :)

[2020-04-01 07:21] davidreuss commented on #1475
[code]

this still means we're waiting on the binaries to hit your repositories, right? 😃

[2020-04-01 08:50] gnosek commented on #1475
Yes, releasing things is hard ;) Sorry about that, I want the release out at least as much as you do

[2020-04-01 13:59] hhoffstaette opened #1609 "Driver fails to build with kernel 5.6"
Trying to build the driver on 5.6 is kaput due to changed time representation and/or header changes:
[code]

I'm not exactly new to fixing kernel build errors, but this one has me stumped. After untangling all definitions in <linux/time.h> I don't really see why ``struct timespec`` is incomplete, or what might be missing; any clues welcome.

[2020-04-01 14:03] hhoffstaette commented on #1609
So if I read [this blog](https://www.linaro.org/blog/the-end-of-an-era/) correctly ``timespec_to_ns`` should be changed to ``timespec.tv_nsec = ktime_get()``. Replacing ``struct timespec`` with ``struct timespec64`` also helped make ``main.c`` compile, but then the failure continues in ``ppm_fillers.c``.
Overall this looks like a pretty messy change due to compatibility with older kernels. :(

[2020-04-01 19:21] czhangpersonal opened #1610 "sysdig ebpf soft lockup with Linux kernel 4.19"
Is there anyone working on the following issue? Basically it's with sysdig ebpf running on Linux kernel 4.19. Under certain conditions, the Linux kernel will have soft lockup.

https://github.com/falcosecurity/falco/issues/896

Or do we know any workaround for this issue?

Below is the backtrace we saw:

[code]

[2020-04-02 00:28] fntlnz commented on #1610
I am actively working on this and @leodido is too.
We are discussing a patch with the BPF subsystem maintainers and are working on a patch to the bpf code here to not trigger the bad behavior on the affected kernels.
I can't share more details yet because of the nature of this bug.

[2020-04-03 09:01] gnosek commented on #1475
The eagle has landed 🎉

@krishnan-ramkumar's invaluable help bumps the final answer to "how many engineers does it take to release Sysdig" to at least four :)

[2020-04-03 09:07] dnwe commented on #1475
🎉 now showing up at http://download.draios.com/stable/deb/stable-amd64/Packages

Will roll this out. Thanks for getting this out the door! 🏅

[2020-04-03 13:41] davidreuss commented on #1475
still seeing,

[code]

is that expected, when the latest release is `0.26.6` ?

[2020-04-03 15:18] gnosek commented on #1475
@davidreuss, you made me realize I released it under the wrong version number :(

I'll probably pretend 0.26.6 never happened and 0.26.5 just got severely delayed. In any case, anything newer than 0.26.4 contains the fix.

[2020-04-03 15:39] nathan-b commented on #1475
It's like a well-oiled machine here at Sysdig release HQ

[2020-04-03 15:52] gnosek commented on #1475
Wouldn't guess oil was the substance in question ;)

[2020-04-04 00:41] smijolovic opened #1611 "eBPF driver does not compile on CentOS 8"
For reference, bug filed in Falco:
https://github.com/falcosecurity/falco/issues/1129

Falco version: 0.21.0
CentOS 8.1
kernel version 4.18.0-147.5.1.el8_1.x86_64

cmake -DBUILD_BPF=ON ..
make bpf

falco-0.21.0/build/sysdig-repo/sysdig-prefix/src/sysdig/driver/bpf/fillers.h:1369:21: error: no member named 'pids' in 'struct task_struct'
return _READ(task->pids[PIDTYPE_PID].pid);

Digging into the f

[2020-04-04 06:08] smijolovic commented on #1611
Wondering if it behaves differently in mainline vs CentOS8/RHEL8 4.18.0-147+

[2020-04-04 15:03] hhoffstaette commented on #1609
``ppm_fillers.c`` fails since ``struct timeval`` has been made invisible in commit [c766d1472c70](https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=c766d1472c70d25ad475cf56042af1652e792b23). A least-effort replacement seems to be ``__kernel_old_timeval``.

[2020-04-04 15:35] hhoffstaette commented on #1609
So the horrible fix in my branch seems to work on x86_64. It's the "least effort" I could come up with,
but nothing crashes and traces have monotonically inreasing nanosecond timestamps. :)

[2020-04-06 16:14] #1610 closed

[2020-04-07 04:56] jaychan-q opened #1613 "Copying sysdig sump files to remote storage"
Hello All, Is there a way to generate sysdig dump files based on the timestamp ? I am trying to copy the dump files to gcp storage and not want to overwrite the files. Currently i am doing this (which generates dumps every 15 min and keeps 5 files).

`sysdig -G 900 -W 5 -qw /opt/sysdig_dumps/sysdig-$(date +'%Y%m%d-%H%M%S').scap`
This generates files like below and first file gets overwritten after

[2020-04-07 20:43] Maryse47 commented on #1609
Your patch doesn't work for my with Linux 5.6.2 on Arch Linux:
[code]

[2020-04-07 21:19] hhoffstaette commented on #1609
Interesting since I developed it on 5.6.2. Just to make sure I tried to reproduce with today's
5.6.3-rc1 and it still works:
``
holger>git clone git@github.com:hhoffstaette/sysdig.git
holger>cd sysdig
holger>patch -p1 < /etc/portage/patches/dev-util/sysdig-kmod/driver.patch
patching file driver/ppm.h
holger>mkdir build && cd build && cmake ..
-- The C compiler identification is GNU 9.3.0
-- The CX

[2020-04-07 21:22] hhoffstaette commented on #1609
Yeah, I get the same error with ``CONFIG_COMPAT`` enabled, so that was an oversight. Let me try and find a fix..

[2020-04-07 21:31] hhoffstaette commented on #1609
So as expected ``compat_timespec`` was removed in [this commit](https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=9afc5eee65ca7d717a99d6fe8f4adfe32a40940a), so I just pushed an update (one additional ``#ifdef``) to my branch and it now builds for me when ``CONFIG_COMPAT`` is enabled. Give it a try. :)

[2020-04-07 22:05] Maryse47 commented on #1609
It works now, than you.

[2020-04-08 11:26] hhoffstaette commented on #1609
So for #ad6939d I've now reversed the direction of the changes, i.e. forward-ported the source and added backwards-compatible ``#defines`` which I will try to test later. Quick test suggests that the module still works, i.e. scap output looks correct.

[2020-04-10 14:07] poovannan89 commented on #1551
Sorry for delay from my side also. Yes, it used to work earlier. I think from November 2019 or so, it was stopped or removed. I guess ppc build of sysdig was supported earlier ?

[2020-04-10 19:14] nathan-b commented on #1551
sysdig still support ppc64, but the build and release process for sysdig was retooled and I guess whatever mechanism was used to build and release the ppc64 Debian package no longer exists. Nobody that I've talked to even remembers having a ppc build, so it must have been an old system that just kept working in the background...until it didn't.

We don't currently have plans to (re)introduce a ppc

[2020-04-10 19:14] #1551 closed

[2020-04-12 11:53] mhansen opened #1617 "libsinsp fails to build (32bit system) - unsigned long overflow detected at compile time"
I'm building on a Raspberry Pi and getting this error that you can't shift left 1UL 42 times.

It seems the compiler's right: [the C99 standard notes on page 22](http://www.open-std.org/jtc1/sc22/wg14/www/docs/n1256.pdf):
[code]
And shifting left 42 results in a number more than 2^32.

I think you want `1ULL` - should fix this?

[code]

[2020-04-12 11:55] mhansen commented on #1617
I suspect maybe you'd never run into this if you always build on a 64bit machine - perhaps 64bit machines make UL 64-bits wide.

[2020-04-12 11:58] mhansen commented on #1617
I've made a pull request, but it might take me a while to get the CLA signed off. Maybe someone else can independently make the 1-char change :-)

[2020-04-12 12:19] mhansen commented on #1598
Duplicate of https://github.com/draios/sysdig/issues/1617

[2020-04-12 12:20] mhansen commented on #1617
Duplicate of https://github.com/draios/sysdig/issues/1598.

[2020-04-13 03:20] nh2 commented on #1006
FWIW, I no longer get segfaults at startup, but still somedimes sporadically when digging (see my update at https://github.com/NixOS/nixpkgs/issues/32485#issuecomment-612729334).

[2020-04-13 03:23] nh2 commented on #1006
Example trace of such segfault:

[code]

[2020-04-13 20:51] holgrrr commented on #385
What is the current status of runc support?
I was expecting this to be working out of the box but had significant issues in combination with Podman on CentOS 8.1. 2020 seemed like "near future" in Mid 2017 ;)
Or am I doing something fundamentally wrong?

Container for testing
[code]

Container visible with podman ps
[code]

Container sort of visible with lscontainers chisels (not with the csysdig

[2020-04-15 09:42] prein commented on #843
I'm observing csysdig segfaults when trying to read a capture file taken on another system (using sysdig). All OS Ubuntu / Debian. The capture was taken with sysdig 0.8.0, it segfaults when attempted read with csysdig 0.26.4. It loads OK using csysdig 0.19.1

[2020-04-15 10:36] ChanderG commented on #152
Slightly tangential to this thread, but if people end up here with the same problem that @azharz has faced, this is the solution:
1. Unload the sysdig_probe module: `sudo modprobe -r sysdig_probe`.
2. Load the module with the parameter specified, eg: `sudo modprobe sysdig_probe max_consumers=10`.

[2020-04-15 10:37] ChanderG commented on #341
Only partially related to this issue, but if anyone else was wondering how to set the max_consumers paramter:

[2020-04-16 09:10] DavidWHodgins commented on #843
csysdig from sysdig-0.26.6-1.1.mga7 on Mageia 7 also segfaulting, also works with --raw.
compressed gdb backtrace attached.
[logfile.txt.gz](https://github.com/draios/sysdig/files/4486023/logfile.txt.gz)

[2020-04-21 17:27] jjqq2013 opened #1619 "Install sysdig to Docker Desktop VM"
Hi, I'd like to use sysdig in Docker Desktop VM,
first I need install linux header files,
[code]
The `/usr/src/linux-headers-4.19.76-linuxkit` is what I need to install,
do you have any idea of how to install the linux headers?

[2020-04-21 17:38] jjqq2013 commented on #1619
ah, maybe here is not the right place to discuss this, but it would be better to mention in the README.md that how to deal with Docker Desktop (Linuxkit).

I found something https://github.com/linuxkit/linuxkit/blob/master/docs/kernels.md, have not tried.

[2020-04-21 17:44] jjqq2013 commented on #1619
docker pull linuxkit/kernel:4.19.76
then the image contains a `kernel-headers.tar` file.

[2020-04-21 17:44] #1619 closed

[2020-04-21 23:59] jaychan-q commented on #1241
how can we have both sysdig and falco running in GKE COS. we have to lose one for another at this time as it gives the below error. i was already running sysdig and when trying to configure falco got this error

[code]

[2020-04-23 12:39] nathan-b commented on #1241
@jaychan-q What version of GKE COS are you running?

[2020-04-23 18:27] jaychan-q commented on #1241
[code]

[2020-04-23 19:44] jaychan-q commented on #1241
@nathan-b Tried running gke 1.15.9-gke.24 and that has kernel 4.19. Both sysdig and falco are operational. Thanks for your help

[2020-04-24 16:58] nathan-b commented on #1579
This should be fixed now. sysdig.org and sysdig.net should both redirect to sysdig.com

[2020-04-24 16:58] #1579 closed

[2020-04-24 21:25] jjqq2013 commented on #903
same issue when I am trying to build it to linuxkit (the Docker VM, or should be called Docker Desktop for Windows or Mac), which use alpine.

This really make sense, I have waited for long time for using sysdig in Docker Desktop, is there anyone working on this?

To quickly start working on this, you can run following command to do investigation ( as I am doing now),

First, run following command

[2020-04-24 21:33] jjqq2013 commented on #903
no luck, I am wrong, there are code using `getaddrinfo_a`, so I have to make glibc works, maybe better statically linked, so can work with alpine's musl libc.

there were already discussion about this: https://dev.alpinelinux.org/irclogs/%23alpine-devel-2017-01.log

[2020-04-24 21:37] jjqq2013 commented on #903
finally, I come up with a thought, just build the kernel driver with apline (Successfully done), others all built with glibc, this should works.

[2020-04-24 22:00] nathan-b commented on #1241
Glad this resolved your issue!

[2020-04-24 22:00] #1241 closed

[2020-04-29 04:42] kristopolous commented on #1613
Logrotate can handle all of this, including the timestamp.

[2020-04-30 14:05] leodido commented on #1609
This has been fixed by https://github.com/draios/sysdig/pull/1621

[2020-04-30 14:29] #1609 closed

[2020-04-30 20:46] DannyPat44 commented on #1241
Question on this! Would you expect to see a similar issue attempting to run Falco with the gRPC server enabled?

[2020-05-01 14:31] nathan-b commented on #1241
Hi @DannyPat44 . Do you mean attempting to run Falco on GKE? Both Falco and Sysdig will run into the same problem, and both have the same solution.

[2020-05-04 13:41] #570 closed

[2020-05-04 13:43] nathan-b commented on #1611
This might be a backport issue. Thanks for reporting.

[2020-05-04 13:49] nathan-b commented on #1598
@nmingotti can you validate that the latest source will build on your system?

[2020-05-04 13:50] #1617 closed

[2020-05-06 13:41] nathan-b commented on #1598
Closing as this bug was addressed by @kris-nova in https://github.com/draios/sysdig/pull/1622

[2020-05-06 13:41] #1598 closed

[2020-05-06 14:25] kris-nova commented on #1598
This *should* fix the issue mentioned above. Like I said in the issue I tested on a few of the cortex raspberry pi boards.

Please do share your findings on the beaglebone as I am starting to document a lot of sysdig on arm as an unofficial resource for the community.

Thanks all!

[2020-05-06 15:08] guardiande opened #1625 "sysdig 0.26.7 does not compile on Fedora 32"
I noticed that 0.26.7 includes fixes for Fedora 32 and since there's no package there yet I started compiling from sources.

That failed with the following error when compiling gprc:

[code]

[2020-05-07 02:36] vela-security opened #1627 "sysdig 0.26.7 does not compile on centos7"
[  3%] Built target b64
[  7%] Built target c-ares
[ 11%] Built target openssl
[ 15%] Built target curl
[ 19%] Built target zlib
[ 23%] Built target protobuf
[ 23%] Performing build step for 'grpc'
[HOSTLD]  Linking /root/sysdig-0.26.7/build/grpc-prefix/src/grpc/bins/opt/grpc_cpp_plugin
/bin/ld: cannot find -ldl
/bin/ld: cannot find -lrt
/bin/ld: cannot find -lpthread
/bin/ld: cannot find -lstdc++

[2020-05-07 15:37] guardiande commented on #1627
You need to install static versions of some standard libraries...

This is on FC32:

[code]

[2020-05-07 23:43] m1nl opened #1629 "eBPF probe does not load on UEK kernel on Oracle Linux 7.8"
Hello,

I've manually compiled eBPF probe (commit a259b4bf49c3330d9ad6c3eed9eb1a31954259a6) for 4.14.35-1902.301.1.el7uek.x86_64 kernel on Oracle Linux 7.8 and when I'm trying to use Falco with this probe, I'm getting the following stacktrace (from eBPF verifier I suppose):

[code]
Of course Falco refuses to start and exits.

What's wrong with the eBPF probe?

[2020-05-08 00:15] m1nl commented on #1629
Logs from eBPF probe build:

[code]

[2020-05-09 15:27] m1nl commented on #1629
Okay - don't try to use LLVM 3.0 to build a BPF probe... upgraded to LLVM 7.1.0 and it works now.

[2020-05-09 15:27] #1629 closed

[2020-05-13 09:39] jbarszcz opened #1631 "Missing activity from spy_users chisel"
I noticed a strange behaviour of the spy_users chisel. After
1. entering a container shell
2. changing directory via `cd` command
3. exiting container shell
4. entering shell again

it stops showing commands executed inside the container. Sometimes two iterations of this process are required to reproduce this behaviour, but I noticed that it happenes every time.

Terminal 1:
`sudo sysdig -w output

[2020-05-13 09:56] ysz opened #1632 "sysdig does not compile against glibc 2.31"
sysdig does not compile against glibc 2.31

Bundled grpc version 1.8.1 https://github.com/draios/sysdig/blob/dev/CMakeLists.txt#L554 misses this patch https://github.com/grpc/grpc/pull/18950

This looks similar to https://github.com/falcosecurity/falco/issues/921

[code]

[2020-05-16 00:56] zduymz opened #1634 "Falco failed to start"
I found some closed issues #846 related to pre-compile not found. But there is no a real solution.
How do i know what falco version support what kernel.
I'm using version `0.22.1` on EKS
[code]

[2020-05-16 14:43] leodido commented on #1634
This issue belongs to httsp://github.com/falcosecurity/falco

Anyway, the log says it all: there is no prebuild kernel module for Amazon Linux 2 kernel 4.14.177-139.253.

This because that version is trying to download it from the old prebuild drivers repo (https://s3.amazonaws.com/download.draios.com). The new script (you can try it using the code on Falco master or waiting for 0.23.0 to be relea

[2020-05-20 09:23] leodido commented on #1611
Yes @nathan-b it is. Patches about `.pids[]` and `__PIDTYPE_TID` have been backported.

@fntlnz and I approached the problem on branch `fix/filler_procstartupdate3_bpf_functions` ([diff](https://github.com/draios/sysdig/tree/fix/filler_procstartupdate3_bpf_functions)), but still far from have a real working fix.

[2020-05-20 14:14] nathan-b commented on #1611
@leodido @fntlnz Check out https://github.com/draios/sysdig/pull/1276

It's old, but it might be a good starting point

[2020-05-20 15:51] webloft commented on #940
Is this issue not fixed yet? I got the same error like every 10 min but in line 218

[2020-05-20 16:47] fntlnz commented on #1061
Ok this is almost two years old but I think that now we have all the pieces in place to make this work.

First, COS does not ship the kernel build sources by default, so we had to update the `sysdig-probe-loader` script to go grab them while we start sysdig.

The command that Gianluca posted is still valid now, just now using `dev` is not needed anymore, this is GA.

[code]

What's important in th

[2020-05-20 16:48] fntlnz commented on #1061
I think we can close this one since this was ultimately accomplished. Anyone feel free to continue the discussion if needed.

[2020-05-20 18:52] #1061 closed

[2020-05-21 10:42] mhansen commented on #1598
Thank you Kris!

[2020-05-22 03:33] zduymz commented on #1634
ok. sound good. thanks for your answer.

[2020-05-22 03:33] #1634 closed

[2020-05-25 08:06] abucodonosor commented on #940
@webloft

This bug still exists.

[2020-05-26 11:09] UweKrause commented on #1631
I have the same problem.
I have modified the chisel to log to file, but it just stops working after about 2 hours.
@jbarszcz: Your reproduction steps show that it is not depending on time (what I thought first), but on what is happening. Your report alone saved me some gray hairs!

Same sysdig version (0.28.7), full updated ubuntu 18.04.

[2020-05-26 16:19] UweKrause commented on #1631
when shortening the filter to `(evt.type=execve and evt.dir=<)` the log keeps logging.
(Of course no `cd` event)

[2020-06-01 02:28] robruma opened #1639 "Certificate expired"
[code]

Possibly due to [https://support.sectigo.com/articles/Knowledge/Sectigo-AddTrust-External-CA-Root-Expiring-May-30-2020](https://support.sectigo.com/articles/Knowledge/Sectigo-AddTrust-External-CA-Root-Expiring-May-30-2020)

[2020-06-01 05:41] zjagust commented on #1639
Similar issue on Debian when running **apt-get update**:

[code]

[2020-06-04 09:14] leogr commented on #1603
The same issue on Arch `5.6.15-arch1-1`.

[2020-06-07 18:28] hlieberman opened #1644 "FTBFS on MIPS architectures"
Since Linux 5.0, MIPS syscalls are built from a table.  This change causes sysdig to fail to build from source, as it fails to correctly determine the base syscall value.  For most architectures, this is zero, but for mips, it is [456]000.

PR #1643 closes this issue; this patch is currently deployed into Debian unstable.

[2020-06-16 21:00] kwri-avongluck opened #1646 "sysdig agent not working - gke"
[code]

Being launched via [kubectl-capture](https://github.com/sysdiglabs/kubectl-capture)

[2020-06-17 07:40] Vaelatern commented on #903
Any luck on making this build on muslc?

[2020-06-24 16:54] davidfavor opened #1648 "Ubuntu Focal - csysdig -vcontainers fails to produce output"
csysdig works fine on Bionic.

No output on Focal.

[2020-06-24 17:45] nathan-b commented on #1625
What is the kernel version (`uname -r`)?

[2020-06-24 17:48] nathan-b commented on #1632
This looks like a duplicate of #1625

[2020-06-24 17:48] #1632 closed

[2020-06-24 17:52] nathan-b commented on #1639
Should be fixed now. Do you still see this?

[2020-06-24 18:35] nathan-b commented on #1644
I accepted your PR. Thanks for your contribution!

[2020-06-24 18:35] #1644 closed

[2020-06-25 05:59] zjagust commented on #1639
All good, as far as Debian/Ubuntu and forks goes. Thanks for the fix!

[2020-06-25 12:43] robruma commented on #1639
Installation works now without an error. Thanks

[2020-06-25 16:35] nathan-b commented on #1639
Excellent, thanks everyone!

[2020-06-25 16:35] #1639 closed

[2020-07-02 00:24] irobert0126 opened #1649 "How to install "sysdig-probe" for kernel "Debian 5.3.15-1""
Hi: I have ran into the issue regarding installing sysdig kernel module. I am wondering can any one help me out. Thanks in advance.

My kernel version is:

[code]

It seems like there is no precompiled module for my machine and there is no linux-headers neither:

[code]

[2020-07-07 17:06] nathan-b commented on #1625
Looks like a grpc issue. We'll need to update the version.

[2020-07-08 19:51] nathan-b commented on #1611
I believe #1650 should have solved this issue. @leodido, @fntlnz, I think we can just close this bug. Do you agree?

[2020-07-09 10:00] leodido commented on #1611
Yup :)

[2020-07-09 10:00] #1611 closed

[2020-07-11 03:17] hwhe opened #1655 "how sysdig monitor other container's filesystem info"
docker run -i -t --name sysdig --privileged -v /var/run/docker.sock:/host/var/run/docker.sock -v /dev:/host/dev -v /proc:/host/proc:ro -v /boot:/host/boot:ro -v /lib/modules:/host/lib/modules:ro -v /usr:/host/usr:ro sysdig/sysdig

in docker rum mode,  how sysdig container monitor the  other container's ’filesystem info.
if no config rlsave mode, the new container's Filesystems mounted while sysdig

[2020-07-13 14:44] fntlnz opened #1658 "BPF probe compilation under Clang 10 and Clang 11"
This is what happens when the BPF probe is compiled using Clang 10.

[code]

[code]

I also tested against the current LLVM 11 source code and built Clang myself.

[code]

The situation there is a lot more verbose, you can find the full log [here](https://fs.fntlnz.wtf/sysdig/clang-11-log-bpf.txt).

This was initially reported on Falco https://github.com/falcosecurity/falco/issues/1251 - since the

[2020-07-13 14:53] #1603 closed

[2020-07-13 15:54] fntlnz commented on #1658
Here's an output of llvm objdump of the same program built with different clang versions:

**clang 9.0.1 (Red Hat 9.0.1-2.module_el8.2.0+309+0c7b6b03)**
https://fs.fntlnz.wtf/sysdig/probe-objdump-clang-9.txt

**clang 10.0.0 (Arch Linux) **
https://fs.fntlnz.wtf/sysdig/probe-objdump-clang-10.txt

**clang 11 (llvm git e73d0b5719966ddbeff7a3da70a3cb782c3733ed)**
https://fs.fntlnz.wtf/sysdig/probe-obj

[2020-07-17 15:30] leodido opened #1659 "*at syscalls (eg., unlinkat, fchmodat, execveat, etc.) handle pathname args differently from their corrispectives"
While working with @fntlnz on the filler for `execveat`, we discovered that `*at` syscalls have a common behavior that was not detected and correctly handled by sysdig.

As you can read into `man 2 fchmodat` (but the same applies for `exceveat` or `unlinkat`, etc.)

the `pathname` argument does not always refer to the current working directory (as sysdig is currently handling it).

In fact, if the

[2020-07-20 18:30] fntlnz commented on #1625
I suggest you to install grpc and protobuf and compile sysdig with

[code]

[code]

[2020-07-22 03:20] qingyunha opened #1662 "A new open for /dev/sysdig will reset g_events_mask bitmap."
it seems `g_events_mask` should be a  consumer level  variable.

[2020-07-23 02:36] tulid opened #1664 "sysdig-agent project cannot found in the repository"
Hi Guys:
     I want to build one image sysdig/agent in arm64 platform. But,  i cannot found the project "draios/agent" from the link “https://hub.docker.com/r/sysdig/agent/dockerfile”.
     Can you confirm it?
     Many thanks.

[2020-07-23 07:41] dongwangdw commented on #1664
This should be the sysdig repo I think.

[2020-07-23 08:10] dongwangdw opened #1665 "Data security in sysdig monitoring"
Maybe it is not the right place for the enterprise issue. Please help it.
I have a perhaps silly question. If we use sysdig monitoring, our data will be stored in your side not our own? right? Because I found in your doc that the data retention will differ according to the cost.

[2020-07-26 19:12] guardiande opened #1667 "Cannot filter for UDP traffic by port / show all event attributes to filter for"
I'd like to filter for UDP traffic to a specific port.

Here's an example:

[code]

Output from `strace`:

[code]

Output from `sysdig`:

[code]

Two questions:

1. How do I filter for UDP traffic on port 25287?
2. How could I output all attributes of an event that I can filter for? E.g. output all attributes of the `connect` syscall?

[2020-07-29 07:14] LocutusOfBorg opened #1669 "32bit support broken?"
Hello, looks like we have a regression between 0.26.4 and 0.26.7...
on armhf (32 bit arm), we are getting this error now:
[code]

maybe some 64 bit division is not implemented in 32bit kernels? I don't really know what is going on...

[2020-07-29 07:18] LocutusOfBorg commented on #1669
the list of the failures, including build artifacts and logs are here:
https://autopkgtest.ubuntu.com/packages/s/sysdig/groovy/armhf

[2020-08-10 17:06] nathan-b commented on #1664
The Sysdig agent is Sysdig (the company)'s commercial offering. It is not open source.

[2020-08-10 17:06] #1664 closed

[2020-08-10 17:08] nathan-b commented on #1665
This site is for the open-source `sysdig` program, not the commercial offering.

To get information about the commercial offering, go to [sydig.com](https://sysdig.com). A chat box will pop up and you can ask questions there.

[2020-08-10 17:08] #1665 closed

[2020-08-12 04:43] deric opened #1675 "csysdig doesn't work with xterm-256color"
On Debian 10:
[code]
Simply running:
[code]
works fine. Would it be possible to support `xterm-256color`?

[2020-08-12 14:27] deric commented on #1675
The issue could be solved by installing `ncurses-term`. Maybe add as a dependency?

[2020-08-13 07:30] kristopolous commented on #1669
looks like there's 2 candidates for a low-touch solution: use do_div from div64 or somehow bring in the ASM from coreboot and link it accordingly ...

[2020-08-13 21:40] LocutusOfBorg commented on #1669
Looks like Ubuntu folks fixed it :)
http://launchpadlibrarian.net/493334325/sysdig_0.26.7-2ubuntu1_0.26.7-2ubuntu2.diff.gz

[2020-08-14 05:12] webloft commented on #940
Well, I don't want to debug this in deep - I just found out that the reported error line is just the last line of the statement.

The actual error (at least for me) is located at: process_tree[pid][2] which gets nil sometimes because something went wrong with the anchester tree loop I guess.

Capturing the nil like
[code]
right after
[code]
works for me.
Still better to log -1 than crashing every

[2020-08-21 17:30] denis738 opened #1678 "Sysdig on Oracle Exadata - Performance Issues"
Hi guys,

I've ran into a performance issue in running Sysdig on our Oracle Exadata servers that use custom chisels to extract user info. I've had sysdig run on a couple of different Oracle Linux OS versions with varying results on each of them.
________________________________________________________________________________________________________________________________________
Starting with the

[2020-08-24 16:57] fntlnz commented on #1659
I'm reopening this since we had to revert the changes here https://github.com/draios/sysdig/pull/1679

[2020-09-10 10:26] #903 closed

[2020-09-15 16:47] Milnov opened #1687 "With Fedora32 - kernel 5.8.8-200 - I get "transaction error" in automatic installation procedure"
I lunch the curl -s procedure but when the system get "Installing sysdig"  step I had:

Error: Transaction test error
package sysdig-0.27.0-1.x86_64 does not verify: no digest

Is there a way to fix this ?

Thanks a lot

[2020-09-21 15:06] #1659 closed

[2020-09-24 15:05] denis738 opened #1692 "Sysdig CPU Usage at 100% - Oracle Linux 7"
I've run into a CPU Usage issue when running sysdig on a few of my Oracle Enterprise Linux 7 devices. I'm currently running Sysdig version 0.26.7 on the systems and the sysdig process shows that it is utilizing 100% CPU when running the top command. Has anyone ever experienced this before? Where is the best place to look and see why Sysdig's CPU usage is at 100%?

[2020-09-24 17:57] nathan-b commented on #1529
Is this issue still happening now that #1475 is fixed?

[2020-09-24 19:05] stonith commented on #1529
Sorry, I haven't had a chance to test this since. Closing for now.

[2020-09-24 19:05] #1529 closed

[2020-09-30 06:07] Sarang-Sangram opened #1696 "Sysdig capture running endless while using filters"
While running the sysdig capture without any filters the -M time value is picked up correctly and ends after the time specified time
[code]
But if I am using filters it just runs endless and require me to send the break single to end it
[code]

[2020-10-12 00:38] jordan-wright commented on #1606
Just wanted to chime in that this can probably be closed depending on what you mean by "document". In the current user guide, I see:

I will suggest that it's _kind of_ buried but someone reading the guide should catch it.

[2020-10-17 21:29] kristopolous commented on #1675
Assuming you used the debian official this is best resolved by contacting the maintainers (the current ones will always be listed at https://tracker.debian.org/pkg/sysdig) @evgeni is the user on github. Maybe they will see this thread in their menchies.

[2020-10-17 21:57] kristopolous commented on #1696
right the timing check happens after the filter so it'd run until the filter is matched. It could be moved up at a non-zero but ultimately meaningless cost. The real skill here would be to try to do it at almost no cost.

The other "bug" in the current implementation is the reference time stamp isn't set until the first matched packet. I call it a "bug" in quotes here because "capture for n second

[2020-10-17 23:24] evgeni commented on #1675
I must admit I didn't do much around sysdig in recent times, @hlieberman was doing most of the work ;)

But your suggestion sounds pretty reasonable to me.

[2020-10-18 03:30] kristopolous commented on #1696
so i've got two options for PRs to fix the issue. I like the second one myself - it's a stronger offering and maintains full backwards compatibility.

[2020-10-18 04:20] kristopolous commented on #1692
What's the output of strace on the pid? There's probably a busy loop somewhere, poll and select are frequent culprits.

[2020-10-20 14:29] jaberelmazini opened #1707 "installing sysdig on alpine linux"
the usual directive (Cf. Wiki section) doesn't do the job.
each time the make build fail !!
any structured process dedicated to alpine (exact dependencies needed, cmake parameters, ...) ?

[2020-10-24 23:53] kristopolous commented on #1707
can you be a bit more specific? Copy/ paste from your terminal would be helpful

[2020-10-27 15:53] nats5886 opened #1708 "sysdig-probe module cross compilation for ARM in bitbake"
Hi,

I am trying to compile sysdig-probe kernel module from yoctoLinux morty branch with below changes in sysdig_git.bb
Compilation got succeeded, both userspace sydig binaries and sysdig-probe.ko are generated.
However, the sysdig-probe.ko is compiled for host x86_64 architecture.
userspace binaries are compiled for ARM architecture.

I explored but not able to find the reason for this strange be

[2020-11-06 14:04] dimp-pl opened #1709 "What does it take to run sysdig in a non-privileged container?"
Hi guys,

I'm interested in figuring out what it takes to run sysdig in a non-privileged container (in eBPF mode) for security reasons. From the looks of it, it definitely needs at least SYS_RESOURCE and probably even SYS_ADMIN capabilities (and also SYS_BPF on Linux 5.8+), but adding only these two is not enough. In fact, even if i provide all the capabilities supported by my kernel (all 37 of th

[2020-11-07 12:00] ferrymo opened #1710 "Sysdig Failed to use automatic installation script"
The following is the complete installation information！

[admin@iZ256hvj5s6Z usr]$ curl -s https://s3.amazonaws.com/download.draios.com/stable/install-sysdig | sudo bash
* Detecting operating system
* Installing sysdig public key
* Installing sysdig repository
* Installing kernel headers
https://download.sysdig.com/stable/rpm/x86_64/repodata/repomd.xml: [Errno 14] problem making ssl connection
Try

[2020-11-19 05:20] ghost commented on #1710
Same problem occurs here.

My environment is:
[code]

The cause seems to be `yum -y install kernel-devel-$(uname -r)` results in error as below.

[code]

Scripts(https://s3.amazonaws.com/download.draios.com/stable/install-sysdig) tries to execute the command, but it failures.

[code]

Could you improve somehow?

[2020-11-23 21:38] q2dg commented on #526
Please, reopen this issue. It's not solved.
I can't do anything with mouse in csysdig's spectogram shown in my Ubuntu's 20.04 gnome-terminal.
Thanks

[2020-12-02 09:29] usultis opened #1712 "Prometheus metrics limit (3000) reached on sysdig/agent:10.7.0"
I'm using max_metrics = 8000 and  container Image:          sysdig/agent:10.7.0
The documentation on https://docs.sysdig.com/en/limit-prometheus-metric-collection.html states that

[code]

still in my logs I'm seeing

[code]

I was expecting that this limit of 3000 only applied to version < 10.0.0

I'm sorry if I missed anything but it looks to me like that limit increase is not respected.

Best r

[2020-12-07 22:39] narezzi opened #1713 "Can't find the module to be download"
Found kernel config at /boot/config-5.7.0-kali1-amd64
* Trying to download precompiled module from https://download.sysdig.com/stable/sysdig-probe-binaries/sysdig-probe-0.27.1-x86_64-5.7.0-kali1-amd64-2a10ac4abd8623fc1716e7e871ee0ce4.ko
curl: (22) The requested URL returned error: 404

[2020-12-08 15:54] mailinglists35 opened #1714 "warning: target file /proc/2690/cmdline contained unexpected null characters"
[code]

nothing unusual in cmdline:
[code]

[2020-12-08 17:20] mailinglists35 commented on #1714
[core.2690.zip](https://github.com/draios/sysdig/files/5660717/core.2690.zip)

password is the name of the command mentioned by sudo

[2021-01-02 09:35] fajrinazis opened #1725 "NULL pointer dereference in record_event_consumer.part.2 (4.4.0-1101-aws)"
Installed via `apt-get install sysdig` on Ubuntu 16.04.6
Thanks2!

[code]
More contexts :
- Error was triggered while the instance was accessed via Session Manager
- I killed a session abruptly then the error happened

[2021-01-02 16:33] fajrinazis commented on #1725
nvm, cannot repro after installing sysdig with `./install-sysdig`

[2021-01-02 16:33] #1725 closed, assigned to nobody

[2021-01-05 12:54] odidev opened #1726 "Require image for ARM64 architecture"
Hi Team,

I am trying to use the **sysdig/agent** image on arm64 platform but it seems it is not available for arm64. So I tried to build **sysdig/agent** image on my arm64 local machine using command **docker build -t image_name .** but it is failing as it is trying to download following deb files which are not available for arm64 in the mentioned link:
cpp-5_5.5.0-12
gcc-5-base_5.5.0-12
gcc-5_5.

[2021-01-08 08:32] lumontec commented on #1658
Hi @fntlnz while compiling the project I also stepped into this problem with clang>9.

I am working with:
**kernel_release/headers**: 5.4.0-59-generic
**clang,llvm,llc**: version 10

It seems that starting from clang10 function [memset](https://github.com/draios/sysdig/blob/05d7b3cbd5bd80156e8c278811be20607cffcc10/driver/bpf/plumbing_helpers.h#L19) is not translated to llvm builtin equivalent anym

[2021-01-08 12:20] fntlnz commented on #1658
Hey @lumontec ! Thanks for looking into this, more eyes here are very needed :)

I'm following what you wrote and I tested it with llvm 7 as well as llvm 11 and they both seem to use the builtin memset.

- memset calls on llvm 11, kernel 5.10.5: https://fs.fntlnz.wtf/sysdig/1658-update-jan-8-2021/memset-calls-llvm-11-kernel5_10_5.txt
- memset calls llvm 7, kernel 5.10.5: https://fs.fntlnz.wtf/sysd

[2021-01-08 12:25] fntlnz commented on #1658
Here are my objdumps:

clang 11, kernel 5.10.5: https://fs.fntlnz.wtf/sysdig/1658-update-jan-8-2021/clang11-objdump-kernel_5_10_5.txt

clang 7, kernel 5.10.5: https://fs.fntlnz.wtf/sysdig/1658-update-jan-8-2021/clang7-objdump-kernel_5_10_5.txt

[2021-01-08 14:19] fntlnz commented on #1658
Here are some llvm ir dumps `grep memset` for kernel 5.4.69

clang 11, kernel 5.4.69: https://fs.fntlnz.wtf/sysdig/1658-update-jan-8-2021/clang11-memset-kernel_5_4_69.txt

clang 7, kernel 5.4.69: https://fs.fntlnz.wtf/sysdig/1658-update-jan-8-2021/clang7-memset-kernel_5_4_69.txt

Again I only see the builtin memset here.

[2021-01-08 15:03] lumontec commented on #1658
I actually get this memset translation error (which is the one that you had in your very first post) only with clang10(5.4.0-59 kernel).
By testing with clang11(5.4.0-59 kernel) i get your same exact behavior, i.e.: failing on verifier at **filler/sys_read_x**.
I suspect [**bpf_get_current_task()**](https://github.com/draios/sysdig/blob/05d7b3cbd5bd80156e8c278811be20607cffcc10/driver/bpf/filler_he

[2021-01-08 15:32] fntlnz commented on #1658
@lumontec yeah this bug evolved a lot with the evolution of kernel and clang combinations.

[2021-01-08 16:31] Slach commented on #1707
@kristopolous I think @jaberelmazini means
`curl -s https://s3.amazonaws.com/download.draios.com/stable/install-sysdig | sudo bash`
doesn't work
[code]
and manual installation doesn't applicable to Alpine Linux

[2021-01-10 13:35] anwareset commented on #1649
I use **OKD 4.6** and found similiar issue on my sysdig-agent, its cause `CrashLoopBackOff`

Check the log and here it is
[code]

The `Kernel headers not found in /host/lib/modules/5.9.12-200.fc33.x86_64/build, continuing anyway`

and

As you can see, the URL returned **404**

[2021-01-13 03:43] anwareset opened #1728 "URL of Precompiled Module returned error 404 cause CrashLoopBackOff"
I use **OKD 4.6** and found an issue on my sysdig-agent's pod, its cause `CrashLoopBackOff`

Check the log and here it is
[code]

The `Kernel headers not found in /host/lib/modules/5.9.12-200.fc33.x86_64/build, continuing anyway`

and

As you can see, the URL of **precompiled module** is also returned **404**

[2021-01-13 22:50] radhikapc opened #1729 "Unable to uninstall sysdig"
This ticket came in as doc feedback (doc-feedback@sysdig.com.) from bugs@jth.net.

Impossible to uninstall sysdig

Fedora 32

dnf -vv erase sysdig-0.26.7-1Loaded plugins: builddep, changelog, config-manager, copr, debug, debuginfo-install, download,generate_completion_cache, needs-restarting, playground, repoclosure, repodiff, repograph,repomanage, reposync, system-upgradeDNF version: 4.4.0cachedi

[2021-01-14 14:13] nathan-b commented on #1729
Here's the meat:
[code]
Looks like the uninstall script needs to treat this as a recoverable error

[2021-01-26 22:10] nathan-b commented on #1713
Normally, you are expected to build your own kernel module. There are some systems for which it is difficult or impossible to build a third-party kernel module, and for these, Sysdig (the company) hosts pre-built modules. Kali Linux is not a system that Sysdig prebuilds for.

If you post the entire log, we may be able to help you understand why your kernel module could not be built. 95% of the tim

[2021-01-26 22:12] nathan-b commented on #1707
Alpine Linux uses musl rather than glibc, so it's a bit of a special case.

@fntlnz and @leodido added build options for targeting musl instead of glibc in https://github.com/draios/sysdig/pull/1682. Maybe check those out?

[2021-01-26 22:22] nathan-b commented on #1726
As far as I know, none of the package installers (.deb and .rpm) have been tested on arm64. You may need to build it yourself (I'm not 100% sure that it will build on arm64, but I believe it did at one point at least :))

[2021-01-26 22:23] nathan-b commented on #1708
You are correct, this behavior is surprising and strange.

Can you try manually building the driver?

[2021-02-04 12:09] pqhais commented on #918
Hi,

I'm a begginer.

I spent a while reading this post but as a non experienced user, I don't feel like editing the source code myself.

Looking into the PR, I've seen some errors but @arossert claimed that some of these solutions would work for most cases.

Should I try any of these?

Thanks.

[2021-02-08 09:35] pqhais opened #1736 "Can't capture 'echo' command"
Hi,

It's my first time with sysdig and I found it very intuitive so far, but I'm struggling to capture the 'echo' command.

My situation:

- I'am running sysdig on my host machine, which is monitoring the commands executed on multiple containers, one at a time.
- I use: 'sysdig -pc -c spy_users container.name=my_docker' for this purpose. However, it seems like sysdig misses capturing the 'echo' c

[2021-02-08 20:20] holyspectral commented on #1736
If you specify a full path for echo, like `/bin/echo`, would sysdig or strace detect it?
Echo is also a built-in command of bash, so in that case it would be difficult to detect this usage.

[2021-02-09 08:34] pqhais commented on #1736
Thanks for your response!

Yes it would. Besides, I did a little trial and error and  it turns out the `echo` command is captured at least in the next two situations:
- `/bin/echo my_string`
     - Sysdig output: `2146 10:08:01 user@docker) /bin/echo my_string`
- `sudo echo my_string` as sudo commands are shown as duplicated, first with the `sudo` prefix and then without it.
     - Sysdig output:

[2021-02-09 17:52] holyspectral commented on #1736
yeah it looks like it pretty much depends on bash's implementation.  `bash`'s source code may provide some hints regarding how this is implemented.

[2021-02-15 11:40] gowtham-dharsan commented on #1594
@saiyam1814 Hey saiyam, I'm facing same error (issue-1), I saw you mentioned "I have resolved the issue with modification in the commands section by adding probe first". May I know what parameters need to be added in container section for probe  ?

[2021-02-16 15:28] laurentdelosieresmano opened #1740 "proc.cmdline is truncated"
Hello,

It seems that the max size buffer for the first argument of the cmd line is set to 16 characters (15 characters + end character), any other characters are truncated. For instance, if I am monitoring all the commands that are executed in the Docker, and I am executing the following command `docker-credentials-get-ecr get`, I will get a truncated log as follows:

`15:09:17.644416967: Notice

[2021-02-19 19:24] jzeng4 opened #1741 "bpf_printk doesn't print anything."
I have been trying to debug sysdig ebpf:
- Added bpf_printk to driver/bpf/probe.c
- Run sysdig with:  sudo ./userspace/sysdig/sysdig --bpf=driver/bpf/probe.o
- Check the logs: cat /sys/kernel/debug/tracing/trace_pipe

Nothing is printed out.

[code]

[2021-02-19 22:24] #1741 closed, assigned to nobody

[2021-02-24 11:30] kalgnana commented on #278
I am facing the same issue with 5.4.0-52-generic kernel version. Which is the right forum to raise this issue or track the updates.

[2021-03-04 16:17] kun-lu20 opened #1746 "Binaries and Docker image for s390x architecture"
Hello, we are trying to add s390x support for .deb, .rpm files and docker image released officially by the community.
However we could not find any information on the process used to build and release the same.
Considering s390x is already a part of existing Travis CI. Wondering if support can be extended to binaries and docker image as well. Thanks.

[2021-03-08 15:49] LocutusOfBorg commented on #1669
looks like not yet fixed in last release...

[2021-03-09 16:41] 0snug0 opened #1748 "Container metadata not collected with Podman"
Feature Request:
Support Podman Runtime

Problem:
Running Sysdig on a host with Podman, each container shows up as a host. Podman is being pushed heavily with RHEL 8 and OCP 4.6, and will likely see strong adoption going forward.

[2021-03-18 21:43] kun-lu20 commented on #1746
Hello, we're looking for feedback for this issue. Could anyone help with this? Thanks!

[2021-03-24 12:05] fntlnz commented on #1658
This can be closed now that the driver code was donated to falcosecurity/libs

@lumontec I did another round with the official clang builds taken from https://github.com/llvm/llvm-project/releases and I was able to see the point you had with memset, great job!

I added a Reported-By to give you credit in the commit https://github.com/falcosecurity/libs/pull/22/commits/8fccf2e315edbd5177dbf8bc2f507

[2021-03-29 09:36] cc-sir opened #1750 "How to get the complete behavior of the program, including the behavior of the child process"
I need to track all the system calls of the process, but I can't get the behavior of the child process, the command I usually use is "sudo sysdig proaname=sir or proc.name=sir or proc.apid=5478";
However, I cannot get the behavior of the cloned child process:
[code]
What should I do or what command should I use, thanks!

[2021-03-29 14:30] kun-lu20 commented on #1746
@nathan-b Could you please take a look? Thanks!

[2021-04-08 00:41] yjGT opened #1751 "Running with bpf fails (on manually compiled sysdig)"
Building completes without error.

Running sysdig fails with err 14 when loading bpf probe.
`~/sysdig/build/userspace/sysdig$ sudo ./sysdig --bpf=/home/yang/sysdig/build/driver/bpf/probe.o`
`bpf_load_program() err=14 event=filler/terminate_filler message=`

Kernel 5.4.0, ubuntu20.04, LLVM, clang 8.0
sysdig commit: fd59f0e75c6d10a9
falcosecurity/libs commit: 9d15f29ae930421b83cae50b553ae7dfc6328e03

[2021-04-08 09:48] terenceli opened #1752 "sysdig can't monitor the event in pod create"
When I start 'sysdig -k <k8s api-server> -pk k8s.pod.name=<pod_name>'

I can't get the entry point execution event of the new create pod.
For example, for a nginx image, I hope we can get the event of 'execve of nginx'. However, I don't get that.

Is this a bug or I missed anything?

Thanks

[2021-04-09 07:49] guyharris commented on #1444
OK, it appears that version 1.2 did *NOT* make any incompatible changes to the file format (note: a new block type is *NOT* an incompatible change, as code unfamiliar with that block type can just ignore it and process whatever stuff it *can* understand in the file), so:

1. I've updated [the SHB section of the pcapng specification](https://pcapng.github.io/pcapng/draft-tuexen-opsawg-pcapng.html#n

[2021-04-12 14:43] kun-lu20 commented on #1746
@fntlnz Could you please take a look? Thank you very much!

[2021-04-12 19:07] nathan-b commented on #1746
Hi @kun-lu20 , sorry for the lack of response.

I will look into this and get back to you.

[2021-04-12 19:41] kun-lu20 commented on #1746
@nathan-b Thank you very much!

[2021-04-16 08:12] svaningelgem commented on #940
v0.27.1: the bug still exists.
I reproduced this easily with:
#screen 1: sysdig -c spy_users
#screen 2: tail -f /var/log/syslog

Every minute I have like 3-4 processes starting, so maybe too much information to combine?

[code]

[2021-04-21 18:26] nathan-b commented on #1746
Hi @kun-lu20. This repository is in a bit of a transitional state right now. We're having larger discussions internally about the sysdig release process and what it's going to look like going forward. Hopefully the result will provide you with the tools you need to modify the build and add s390x support.

Thank you for your patience as we figure this stuff out.

[2021-04-21 18:44] kun-lu20 commented on #1746
Hi @nathan-b , thank you very much! We're looking forward to hearing the result.

[2021-04-24 09:14] laurafbec opened #1753 "snaplen doubt"
Hi eveyrone
I'm using Sysdig in Ubuntu 20.04 to get the screen output of an appplication and the entries that this one writes at its filesystem logging. When using Sysdig to capture this events, I'm only able to get the first 4096 bytes if the message is written on the screen, fact that I understand due to the terminal buffer, and the first 8195 bytes of the message written to the log file. Even i